mixin Cta-14
	+Section.text-center.py-5#cta-14
		.row.justify-content-center
			.col-md-10
				p.mb-0
					span.badge.bg-primary.me-2 Hot
					| Over 290 interface blocks, 140 demo pages and moduler Page Builder. 
					a(href=purchase_link target='_blank') Purchase Slick 
					| exclusively from ThemeWagon.
