mixin Cta-1
	+Section.text-center#cta-1
		.row.justify-content-center
			.col-lg-8
				h1.fs-4.fs-md-5.fs-xl-6.font-base.lh-3.fw-normal A toolkit 
					br.d-sm-none
					| for the makers
				p.lead.mt-3.px-xl-6 Slick makes it easy to launch your website the right way. Helping those who work to build something really impactful. 
				a(href=purchase_link target='_blank').btn.btn-danger.rounded-pill.btn-lg.mt-6 Purchase Slick
				br
				a(href="#").btn.btn-link.text-500.mt-3 Commercial License
