mixin Cta-8
	+Section.text-center#cta-8
		.row.justify-content-center
			.col-lg-8
				.bg-1000.py-3.px-4.rounded-3.d-inline-block.fs-5.text-white
					span.fa-solid.fa-hourglass-empty
				h4.font-base.mt-5.mb-3.fw-normal Timeless design tool
				p.lead.mb-5.px-4.px-sm-6 Build lean, slick websites with a forward thinking tool that suits a diverse range of purposes.
				
				a(href=generator_link target='_blank').btn.btn-dark.rounded-pill
					span.fab.fa-apple.me-3(data-fa-transform='grow-10')
					| Build with Slick
