mixin Cta-20
	+Section#cta-20
		.row.justify-content-lg-center
			.col-auto.my-3.px-4
				a(href="#" style='min-width: 170px;').d-flex.align-items-center.text-700
					span.d-flex.me-2.me-md-3.fas.fa-rss-square.fs-5.text-warning
					.flex-1
						h3.mb-0.lh-f2.d-inline-block.text-primary(data-countup!={endValue: 22336}) 0
						.fs--1.text-uppercase Subscribers
			.col-auto.my-3.px-4
				a(href="#" style='min-width: 170px;').d-flex.align-items-center.text-700
					span.d-flex.me-2.me-md-3.fab.fa-facebook-square.fs-5.text-facebook
					.flex-1
						h3.mb-0.lh-f2.d-inline-block.text-primary(data-countup!={endValue: 12445}) 0
						.fs--1.text-uppercase Friends
			.col-auto.my-3.px-4
				a(href="#" style='min-width: 170px;').d-flex.align-items-center.text-700
					span.d-flex.me-2.me-md-3.fab.fa-twitter-square.fs-5.text-twitter
					.flex-1
						h3.mb-0.lh-f2.d-inline-block.text-primary(data-countup!={endValue: 53263}) 
						.fs--1.text-uppercase Followers
			.col-auto.my-3.px-4
				a(href="#" style='min-width: 170px;').d-flex.align-items-center.text-700
					span.d-flex.me-2.me-md-3.fab.fa-linkedin.fs-5.text-primary
					.flex-1
						h3.mb-0.lh-f2.d-inline-block.text-primary(data-countup!={endValue: 45545}) 0
						.fs--1.text-uppercase Connections
			.col-auto.my-3.px-4
				a(href="#" style='min-width: 170px;').d-flex.align-items-center.text-700
					span.d-flex.me-2.me-md-3.fab.fa-youtube-square.fs-5.text-danger
					.flex-1
						h3.mb-0.lh-f2.d-inline-block.text-primary(data-countup!={endValue: 48545}) 0
						.fs--1.text-uppercase Subscribers
