mixin Cta-11
	+Section.bg-1100.py-6#cta-11
		.row.align-items-center
			.col-lg-6.mb-4.mb-lg-0
				h3.fs-2.fs-lg-3.fw-light.font-base.lh-3.text-300 Create 
					span.fw-bold beautiful designs
					|  that have long lasting impacts.
			.col.col-md-4.col-lg-3.mt-2.mt-lg-0
				.d-grid
					a(href=generator_link target='_blank').btn.btn-light Get Started
			.col.col-md-4.col-lg-3.mt-2.mt-lg-0
				.d-grid
					a(href=purchase_link target='_blank').btn.btn-outline-light.hvr-sweep-left Learn More
