mixin Cta-21
  +Section.text-center.font-base#cta-21
    .row.justify-content-center
      a(href='https://www.instagram.com/theme.wagon/' target='_blank').col-sm-5.col-md-4.col-lg-3.text-900
        .d-inline-block
          img(src=`${CWD}assets/img/socials/instagram.svg` alt='instagram' height=150)
        h4.pt-3.mb-0 45.3m Followers
      a(href='https://twitter.com/themewagon' target='_blank').col-sm-5.col-md-4.col-lg-3.text-900.mt-5.mt-sm-0
        .d-inline-block
          img(src=`${CWD}assets/img/socials/twitter.svg` alt='twitter' height=150)
        h4.pt-3.mb-0 342k Followers
      .w-100.d-lg-none
      a(href='https://www.facebook.com/themewagon/' target='_blank').col-sm-5.col-md-4.col-lg-3.text-900.mt-5.mt-lg-0
        .d-inline-block
          img(src=`${CWD}assets/img/socials/facebook.svg` alt='facebook' height=150)
        h4.pt-3.mb-0 3.23m Fans
      a(href='https://api.whatsapp.com/send?phone=8801717141905' target='_blank').col-sm-5.col-md-4.col-lg-3.text-900.mt-5.mt-lg-0
        .d-inline-block
          img(src=`${CWD}assets/img/socials/whatsapp.svg` alt='whatsapp' height=150)
        h4.pt-3.mb-0 Talk to us
