mixin Cta-2
	+Section({image: `${CWD}assets/img/25.jpg`, className: "overlay overlay-1"}).text-center.py-8#cta-2
		.row.align-items-center.justify-content-center
			.col-md-5.text-md-end
				h4.fs-1.fs-lg-2.text-white.my-0 Want to know how it Works?
			.col-4.col-md-2
				a(data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').cursor-pointer
					img.my-4(src=`${CWD}assets/img/icons/icon-play.svg` alt="play" style='width: 102px;')
			.col-md-5.text-md-start
				h4.fs-1.fs-lg-2.text-white.my-0 Watch the full 
					span.fw-bold Slick film
