mixin Cta-7
	+Section.bg-black.text-center#cta-7
		.row.justify-content-lg-between.flex-center
			.col-lg-8
				h2.fs-3.fs-xl-4.text-white.mb-0 Choose from 
					span.fw-bold #{numbers.pages} 
					| beautiful demo pages.
			.col-lg-3
				a(href=purchase_link target='_blank').btn.btn-success.mt-4.mt-lg-0 Try Slick Now
