mixin Cta-15
	+Section.text-center.bg-100#cta-15
		.row.justify-content-center
			.col-lg-8
				h2.lh-3.mb-3.fs-2.fs-sm-3 Slick on Social Media
		
		.row.justify-content-center
			.col-lg-8
				a(href="#").d-inline-block
					span.fa-layers.fs-7
						span.fas.fa-square.text-twitter
						span.fab.fa-twitter.text-100(data-fa-transform="shrink-10")
				a(href="#").d-inline-block
					span.fa-layers.fs-7
						span.fas.fa-square.text-pinterest
						span.fab.fa-pinterest-p.text-100(data-fa-transform="shrink-10")
				a(href="#").d-inline-block
					span.fa-layers.fs-7
						span.fas.fa-square.text-facebook
						span.fab.fa-facebook-f.text-100(data-fa-transform="shrink-10")
				a(href="#").d-inline-block
					span.fa-layers.fs-7
						span.fas.fa-square.text-instagram
						span.fab.fa-instagram.text-100(data-fa-transform="shrink-10")
				a(href="#").d-inline-block
					span.fa-layers.fs-7
						span.fas.fa-square.text-1
						span.fab.fa-linkedin-in.text-100(data-fa-transform="shrink-10")
				a(href="#").d-inline-block
					span.fa-layers.fs-7
						span.fas.fa-square.text-google-plus
						span.fab.fa-google-plus-g.text-100(data-fa-transform="shrink-10")
