mixin Cta-12
	+Section.bg-1100.text-center.py-6#cta-12
		.row.justify-content-center
			.col-lg-8
				h3.fw-light.font-base.lh-3.text-300 Create a beautiful business website with Slick and re-engage people that slip away.
				.mt-5
					a(href=generator_link target='_blank').btn.btn-light.mx-2.mt-2 Get Started
					a(href=purchase_link target='_blank').btn.btn-outline-light.mx-2.mt-2 Learn More
