mixin Cta-18
	+Section.bg-1100.text-center.py-6#cta-18
		.row.justify-content-center
			.col
				a(href="#").btn.btn-twitter.border-0.rounded-pill.my-2.mx-2.mx-lg-3
					span.fab.fa-twitter.me-3(data-fa-transform="grow-8")
					span(data-countup!={endValue: 124}) 0
				a(href="#").btn.btn-facebook.border-0.rounded-pill.my-2.mx-2.mx-lg-3
					span.fab.fa-facebook-f.me-3(data-fa-transform="grow-6")
					span(data-countup!={endValue: 315}) 0
				a(href="#" style='background-image: linear-gradient(45deg,#bd3381,#ee583f) !important;').btn.btn-danger.border-0.rounded-pill.my-2.mx-2.mx-lg-3
					span.fab.fa-instagram.me-3(data-fa-transform="grow-8")
					span(data-countup!={endValue: 1036}) 0
				a(href="#").btn.btn-google-plus.border-0.rounded-pill.my-2.mx-2.mx-lg-3
					span.fab.fa-google-plus-g.me-3(data-fa-transform="grow-8")
					span(data-countup!={endValue: 765}) 0
