mixin Cta-17
	+Section.text-center.py-6.bg-100#cta-17
		.row
			.col
				a(href="#" style='background-image: linear-gradient(45deg,#bd3381,#ee583f) !important;').btn.btn-instagram.m-2.border-0
					span.fab.fa-instagram(data-fa-transform="grow-8")
				a(href="#").btn.btn-twitter.m-2.border-0
					span.fab.fa-twitter(data-fa-transform="grow-8")
				a(href="#").btn.btn-google-plus.m-2.border-0
					span.fab.fa-google-plus-g(data-fa-transform="grow-8")
				a(href="#").btn.btn-facebook.m-2.border-0
					span.fab.fa-facebook-f(data-fa-transform="grow-8")
