mixin Cta-6
	+Section({image: `${CWD}assets/img/43.jpg`, className: "overlay overlay-0"}).text-center#cta-6
		.row.justify-content-center
			.col-md-10.col-lg-8
				img(src=`${CWD}assets/img/slick-logo.svg` width=70 alt='')
				h3.text-white.fw-bold.my-4 Future 
					span.fw-light of web design
				p.lead.text-400.mb-5.px-lg-8 Whether you are a business owner, professional or freelancer, Slick offers the easiest way to create websites - instantaneously and swiftly. 
				
				a(href="#").m-2.d-inline-block
					img(src=`${CWD}assets/img/icons/btn-amazon.png` alt="Amazon" width=180)
				a(href="#").m-2.d-inline-block
					img(src=`${CWD}assets/img/icons/btn-google-play.png` alt="PlayStore" width=180)
