mixin Cta-3
	+Section.text-center.py-0#cta-3
		.row.justify-content-center
			.col-lg-9
				.border.rounded-3.px-4.px-lg-5.px-xl-7.py-6.border-300
					p.fs-1.fs-md-2.fw-light.text-900.lh-3 Slick is more than a modern web template. It's based on 
						span.fw-semi-bold Bootstrap 5
						|  for rapid development with reusable elements to extend your design experience. 
					a(href=purchase_link target='_blank').btn.btn-link.mt-3.py-sm-0 Purchase for &dollar;#{numbers.price} &xrarr;
