mixin Cta-5
	+Section.text-center.py-0#cta-5
		.row.justify-content-center
			.col-lg-12
				.bg-black.rounded-3.px-5.px-lg-9.px-xl-11.py-6.text-300.shadow-lg
					h6.text-white.mb-3 Get Slick
					h3.fw-light.font-base.lh-3.text-100.fs-2.fs-sm-3 Crafted layouts, enhanced user experience and top notch supports for creative directors &amp; makers. 
					a(href=purchase_link target='_blank').btn.btn-light.rounded-pill.mt-4 Purchase for &dollar;#{numbers.price}
