mixin Cta-19
	+Section.text-center.bg-1100#cta-19
		.row.justify-content-center
			.col-lg-10.col-xl-8
				h1.fw-light.text-white Stay connected
				p.lead.text-500.mt-3.px-md-7.px-lg-0 At Slick, we believe giving back is an important part of growing as a person and an organization. Stay connected, tell your story or just say hello.

				.mt-5
					a(href="#").btn.btn-icon-pop.btn-twitter.rounded-pill.my-2.mx-3.border-2
						span.fab.fa-twitter.me-2
						| Twitter
					a(href="#").btn.btn-icon-pop.btn-facebook.rounded-pill.my-2.mx-3.border-2
						span.fab.fa-facebook-f.me-2
						| Facebook
					a(href="#").btn.btn-icon-pop.btn-google-plus.rounded-pill.my-2.mx-3.border-2
						span.fab.fa-google-plus-g.me-2
						| Google
