mixin Cta-13
  +Section({image: `${CWD}assets/img/69.jpg`}).text-center#cta-13
    .row.justify-content-center.justify-content-lg-end
      .col-md-10.col-lg-7.col-xl-6
        .bg-white.rounded-3.p-4.p-sm-6
          h2.fs-2.fs-md-3 Get Slick to make impact
          p We built many beautiful and impactful websites using Slick. We want you to be able to do the same.
          a(href=purchase_link target='_blank').btn.btn-outline-dark.hvr-sweep-left.mt-3.fw-semi-bold Get Slick
