mixin Cta-10
	+Section.bg-100#cta-10
		.row.justify-content-center
			.col-md-10.col-lg-9.col-xl-8
				.border.rounded-3.px-4.px-lg-7.py-6.border-300
					.d-flex
						span.fab.fa-buromobelexperte.fs-5.fs-md-6.fs-lg-8.me-4.me-md-5.text-700
						.flex-1
							h3.mb-3 Build with Bootstrap 5
							p.lead.mb-5 Bootstrap 5 is the most popular CSS framework. It helps you create stunning design intuitively and more conveniently.
							a(href=purchase_link target='_blank').btn.btn-outline-primary Get slick
