mixin Pricing-5
	+Section.text-center.bg-100#pricing-5
		.row.g-0.justify-content-center
			.col-12.text-center
				h2 Pay As You Grow
				p.lead.mt-3 Forget about paying for your members. 
					br.d-none.d-md-block
					| Our simple volume-based pricing adapts to your ever-changing needs.

		.row.g-0.flex-center
			.col-sm-6.col-md-4.mt-6
				.border.border-300.px-0.rounded-3.overflow-hidden.rounded-sm-end-0
					.text-1100.py-5.px-4.bg-white
						h4 Free
						hr.bg-400.mx-4.my-4
						.fw-light.fs-5 &dollar;0.00
						h6.text-700.fw-semi-bold Forever
						p.mt-4.mb-5
							strong.fw-semi-bold 6000 emails/month
							br
							| (200 emails/day)
						hr.bg-400.mx-4.mt-4
						
						a(href="#").fw-semi-bold.d-block.mt-4 Try it for Free
							img(src=`${CWD}assets/img/icons/icon-angle-right.svg` height=13 alt='').ms-1
						
			.col-sm-6.col-md-4.mt-6
				.border.border-primary.px-0.rounded-3.overflow-hidden
					.text-1100.py-6.px-4.bg-white
						h4 Monthly Plan
						hr.bg-400.mx-4.my-4
						.fw-light.fs-5.text-primary &dollar;499
						h6.text-700.fw-semi-bold Per Month
						p.mt-4.mb-5
							strong.fw-semi-bold 100000 emails/month
							br
							| (Unlimited emails/day)
						
						a(href="#").btn.btn-primary.rounded-pill Sign Up Now
						hr.bg-400.mx-4.mt-4.mb-3
						small.text-700 30 days money back satisfaction guarantee.

			.col-sm-6.col-md-4.mt-6
				.border.border-300.px-0.rounded-3.overflow-hidden.rounded-sm-start-0
					.text-1100.py-5.px-4.bg-white
						h4 Enterprise
						hr.bg-400.mx-4.my-4
						.fw-light.fs-4.lh-f2.py-3 2.5M
							br
							span.fs-3 Emails
						h6.text-700.fw-semi-bold Per Month
						p.mt-4.mb-5
							| Dedicated Account
							br
							| Management Services
						hr.bg-400.mx-4.mt-4

						a(href="#").fw-semi-bold.d-block.mt-4 Contact Sales
							img(src=`${CWD}assets/img/icons/icon-angle-right.svg` height=13 alt='').ms-1
