mixin Pricing-1
	+Section.text-center#pricing-1
		.row.justify-content-center.mt-5
			.col-md-9.col-lg-6
				.border.border-black.rounded-3.p-4.p-md-6
					h2.mb-3 Multiple sites?
					p.mb-2 Slick is reusable for creating many diverse websites, landing pages and web apps. The developer license will redeem your total cost in the long run.
					hr.bg-300.opacity-75.short.mb-5.mt-3
					h1.mb-2.mt-4.fs-7.text-facebook.font-base.fw-lighter.lh-1 $#{numbers.price}
					h6.text-500.mb-5.mt-2 1 Month free trial
					a(href=purchase_link target='_blank').btn.btn-facebook Purchase Now
