mixin Pricing-6
	+Section#pricing-6
		.row.mb-6.align-items-center
			.col-lg-7
				h2 Make your best work even better
				p.mt-3.lead Don’t worry about design, you’ve got #{numbers.layouts} built-in layouts kick start your future projects. Whether it’s business, non-profit, landing page, or personal projects, there’s room for everything.
			.col.text-lg-end
				p Just want more layouts? 
					br
					a(href="#") Contact sales &xrarr;
		table.table.text-center.border(data-table-collation)
			thead
				tr
					th.align-middle.py-3.text-center
						.h5 &nbsp;
						p.text-500 
					th.border-start.text-300.py-4.text-center.w-50.w-lg-25
						.h5.text-1100.fw-semi-bold Basic Plan
						p.text-500.mb-0.font-sans-serif All Basic for starting a new business
					th.border-start.text-300.py-4.text-center.w-50.w-lg-25
						.h5.text-1100.fw-semi-bold Pro Plan
						p.text-500.mb-0.font-sans-serif Everithing you need for growing business
					th.border-start.text-300.py-4.text-center.w-50.w-lg-25
						.h5.text-1100.fw-semi-bold Enterprise
						p.text-500.mb-0.font-sans-serif Perfect for companies, agencies &amp; teams
			tbody
				tr
					td.align-middle.text-end
						h6.fw-semi-bold.text-500 Price
					td.border-start.text-300.py-4
						.fw-light.fs-5.text-1100
							sup.fs-1  $ 
							| 0
					td.border-start.text-300.py-4
						.fw-light.fs-5.text-1100
							sup.fs-1  $ 
							| 299
					td.border-start.text-300.py-4
						.fw-light.fs-5.text-1100
							sup.fs-1  $ 
							| 999
				tr
					td.text-end.py-3 
						h6.fw-semi-bold.text-500 Number of projects
					td.border-start.text-300.py-3
						.text-900 5
					td.border-start.text-300.py-3
						.text-900 100
					td.border-start.text-300.py-3
						.text-900 Unlimited
				tr
					td.text-end.py-3 
						h6.fw-semi-bold.text-500 Bandwidth
					td.border-start.text-300.py-3
						.text-900 1GB
					td.border-start.text-300.py-3
						.text-900 2GB
					td.border-start.text-300.py-3
						.text-900 Unlimited
				tr
					td.text-end.py-3
						h6.fw-semi-bold.text-500 Support
					td.border-start.text-300.py-3
						.text-900 Forum
					td.border-start.text-300.py-3
						.text-900 Chat
					td.border-start.text-300.py-3
						.text-900 Phone Call
				tr
					td.text-end.py-3 
						h6.fw-semi-bold.text-500 Billing
					td.border-start.text-300.py-3
						.text-success &check;
					td.border-start.text-300.py-3
						.text-success &check;
					td.border-start.text-300.py-3
						.text-success &check;
				tr
					td.text-end.py-3 
						h6.fw-semi-bold.text-500 Customer Domain
					td.border-start.text-300.py-3
						.text-400 &#9747;
					td.border-start.text-300.py-3
						.text-success &check;
					td.border-start.text-300.py-3
						.text-success &check;
				tr
					td.text-end.py-3 
						h6.fw-semi-bold.text-500 Dashboard
					td.border-start.text-300.py-3
						.text-400 &#9747;
					td.border-start.text-300.py-3
						.text-400 &#9747;
					td.border-start.text-300.py-3
						.text-success &check;


				tr
					td.text-center.text-uppercase.text-700.ls.fs--1.fw-semi-bold.py-3
					td.border-start.text-300.py-3.text-center
						a(href="#").btn.btn-outline-primary Try Free
					td.border-start.text-300.py-3.text-center
						a(href="#").btn.btn-primary Start Now
					td.border-start.text-300.py-3.text-center
						a(href="#").btn.btn-outline-primary Get Started
