mixin Pricing-4
	+Section.text-center#pricing-4
		.row.g-0.justify-content-center
			.col-12.text-center
				h2 Pricing Scheme
				p.lead.text-500 Trial free. No credit card needed, close anytime.

			.col-sm-6.col-lg-3.mt-6.border.border-2.border-200.px-0
				.py-5
					h4.text-1100.mb-1 Free
					p.text-500 Forever Free
					.text-1100.my-4.fw-light.fs-3 &dollar;
						span.fs-6 0
					a(href="#").btn.btn-outline-primary.btn-sm.hvr-sweep-left Try Free

				.border-top.border-200.py-3
					p.mb-0 1 GB of Space
				.border-top.border-200.py-3
					p.mb-0 Up to 1 Members
				.border-top.border-200.py-3
					p.mb-0 &nbsp;
				.border-top.border-200.py-3
					p.mb-0 &nbsp;
				.border-top.border-200.py-3
					p.mb-0 &nbsp;

			.col-sm-6.col-lg-3.mt-6.border.border-2.border-200.px-0
				.py-5
					h4.text-1100.mb-1 Basic
					p.text-500 For individuals
					.text-1100.my-4.fw-light.fs-3 &dollar;
						span.fs-6 29
					a(href="#").btn.btn-primary.btn-sm Get Started

				.border-top.border-200.py-3
					p.mb-0 3 GB of Space
				.border-top.border-200.py-3
					p.mb-0 Up to 3 Members
				.border-top.border-200.py-3
					p.mb-0 Backup for 2 Weeks
				.border-top.border-200.py-3
					p.mb-0 &nbsp;
				.border-top.border-200.py-3
					p.mb-0 &nbsp;

			.col-sm-6.col-lg-3.mt-6.border.border-2.border-200.px-0.border-end-sm-0
				.py-5
					h4.text-1100.mb-1 Professional
					p.text-500 Perfect for Small Team
					.text-1100.my-4.fw-light.fs-3 &dollar;
						span.fs-6 69
					a(href="#").btn.btn-outline-primary.btn-sm.hvr-sweep-left Get Started

				.border-top.border-200.py-3
					p.mb-0 5 GB of Space
				.border-top.border-200.py-3
					p.mb-0 Up to 5 Members
				.border-top.border-200.py-3
					p.mb-0 Backup for 4 Weeks
				.border-top.border-200.py-3
					p.mb-0 25Mb per File
				.border-top.border-200.py-3
					p.mb-0  &nbsp;

			.col-sm-6.col-lg-3.mt-6.border.border-2.border-200.px-0
				.py-5
					h4.text-1100.mb-1 Enterprise
					p.text-500 Forever Yours
					.text-1100.my-4.fw-light.fs-3 &dollar;
						span.fs-6 299
					a(href="#").btn.btn-outline-primary.btn-sm.hvr-sweep-left Contact sales

				.border-top.border-200.py-3
					p.mb-0 7 GB of Space
				.border-top.border-200.py-3
					p.mb-0 Up to 7 Members
				.border-top.border-200.py-3
					p.mb-0 Backup for 6 Weeks
				.border-top.border-200.py-3
					p.mb-0 50Mb per File
				.border-top.border-200.py-3
					p.mb-0 1000 Messages
