mixin Header-13
	+Section.text-center#header-13
		.row.flex-center
			.col-lg-7.col-xl-6
				h1.fs-4.fs-lg-5.fs-xl-6.fw-light Evolving standard to make you productive
				.mt-6.py-9.d-flex.justify-content-center.position-relative
					+Background({image: `${CWD}assets/img/21.jpg`, attrs: { style: { 'background-position': 'right',} }, className: "rounded-3"})
					a(href="#!" data-bigpicture='{"ytSrc":"Cw58R9FWeCY"}').position-relative
						img(src=`${CWD}assets/img/icons/icon-play.svg` alt="play" style="width: 60px")

				p.lead.mt-5.mb-0 Clear, plain-spoken jargon free codes that empower you to create awesome webpages in the shortest time.
