mixin Header-10
	+Section({image: `${CWD}assets/img/24.jpg`, video: {mp4:`${CWD}assets/videos/jumbo/jumbo`}, className: "overlay overlay-0" },).py-sm-0#header-10
		.row.min-vh-100.py-8
			.col-md-9.col-lg-7.col-xl-6.pb-4.align-self-end
				h1.text-white.lh-1 Diverse in Magnitude
				p.lead.mt-3.text-300.opacity-75 Get the clean and diverse layouts to expose your online presence. Slick empowers you to create meaningful, impactful sites quickly and easily by focusing 
					br.d-none.d-xl-block
					| on what is most important to users.



			
				
