mixin Header-14
	+Section.text-center.bg-100#header-14
		.row.justify-content-center
			.col-md-10
				.row.justify-content-center
					.col-lg-10
						img(src=`${CWD}assets/img/macbook-full.jpg` alt="macbook").mb-6.img-fluid
				.row.justify-content-center
					.col-lg-8.col-xl-7
						h2.lh-sm Slick is a no-brainer solution. Create with confident.
						hr.short.text-300.mt-4.mb-0
						hr.short.text-300.mt-1
			.col-md-12.col-lg-10
				.row.flex-center.mt-6.fs--1
					.col-md-4.px-4.px-xl-5
						p.mb-0 Making changes is smarter &amp; easier than ever. Pre-installed CSS helpers &amp; plugins give you the full control over the project.
					.col-md-4.px-4.px-xl-5.border-md-start.border-md-end.text-300.py-4
						p.mb-0 Slick included highly divergent set of Iconsmind icons, convenient for many purposes. Choose any icon from 2089 icons.
					.col-md-4.px-4.px-xl-5
						p.mb-0 Design beautifully in browser with the deploy-ready pages using Zion page builder. The all new way of making web pages.
					.col-auto.mt-6.border-top.border-md-0.border-300
						a(href=generator_link target='_blank').btn.btn-danger.rounded-pill.mt-4 Get Started
