mixin Header-4
	+Section({image: `${CWD}assets/img/55.jpg`, className: "overlay overlay-0"}).py-md-0#header-4
		.row.min-vh-100.align-items-center
			.col-lg-8.col-xl-7
				h1.fw-light.font-base.text-white.lh-2 Every design becomes 
					br
					| wow with Slick. Magically.
				p.lead.text-400.mt-4 Slick helps designers, developers, freelancers and companies to create beautiful websites for them and their clients. Speed up your web design projects up to 1000x with the power of slick.
				.mt-3.mt-sm-5
					a(href=generator_link target='_blank').btn.btn-danger.rounded-pill Get Started
					a(href="#").btn.btn-link.link-light
						span.fas.fa-comment.me-2
						| Chat with us
