mixin Header-3
	+Section.text-center#header-3
		.row.justify-content-center
			.col-lg-11.col-xl-9
				img(src=`${CWD}assets/img/birthday_cake.svg` alt='').img-fluid.w-75
				h1.fs-5.fs-lg-6.fw-300.text-black.fw-light Inviting, engaging experience.
				p.mt-5.px-md-4 Slick's layouts range from detailed hero section down to the in-page call to action, with a consistent scheme of softness, cleanliness, and modernity used throughout. This is accomplished through 
					br.d-none.d-xl-block
					| shape, color and imagery to achieve an inviting, engaging experience.   
				.mt-4.mt-sm-5
					a(href=purchase_link target='_blank').btn.rounded-pill.btn-outline-dark.me-3.fw-semi-bold Purchase Now for &dollar;#{numbers.price}
					a(href=purchase_link target='_blank').btn.btn-link.link-dark.fw-light.px-2 Learn more &xrarr;
