mixin Header-16
	+Section({image: `${CWD}assets/img/68.jpg`, className:'w-50 start-50 end-0 img-fluid d-none d-md-block'},).py-0#header-16
		.row
			.col-md-8.col-lg-5.bg-white.py-8
				h1 Focus on the 
					br
					| user experience
				p.lead.mt-4 Slick is focused on the user experience to give your visitors the best experience every time they visit your site.
					
				a(href=purchase_link target='_blank').btn.btn-primary.mt-4.me-4 Start with Slick 
				a(href=`${CWD}showcase-pages.html`).btn.btn-link.ps-0.mt-4 View the demos &xrarr;
