mixin Header-5
	+Section.py-0#header-5
		.row.min-vh-100.py-6.align-items-center
			.col.order-lg-1
				img(src=`${CWD}assets/img/brush-frame.jpg` alt='').img-fluid
			.col-lg-6.col-xl-5.align-self-center.mt-6.mt-lg-0
				h1.font-base.text-black.lh-2.fs-4.fs-sm-5 Design  
					strong.fw-bolder with Ease 
				p.lead.fw-light.text-900.mt-3.mt-md-5 Access #{numbers.layouts} layouts range from hero sections to the call to action &amp; make changes, reuse components - all with HTML code. 
				a(href=purchase_link target='_blank').text-danger.mt-4.mt-md-6.d-block
					| Learn more about Slick
					span.fa.fa-angle-right.ms-3

