/* prettier-ignore */
@use 'sass:math';
@import 'colors';
$variable-prefix: 'slick-';


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
// scss-docs-start container-max-widths
$container-max-widths: () !default;
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    // xxl: 1480px,
  ),
  $container-max-widths
);


$container-wide-max-widths: () !default;
$container-wide-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1340px,
  ),
  $container-wide-max-widths
);

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
  ),
  $grid-breakpoints
);

//*-----------------------------------------------
//|   Gutter
//-----------------------------------------------*/
$grid-gutter-width: 1.875rem !default;


// Container padding
$container-padding-x: $grid-gutter-width * .5 !default;

// Min contrast ratio
$min-contrast-ratio: 1.6 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $gray-800 !default;
$color-contrast-light: $white !default;

//*-----------------------------------------------
//|   Brand colors
//-----------------------------------------------*/
$linkedin: #0077b5 !default;
$facebook: #3b5998 !default;
$twitter: #1D9BF0 !default;
$google-plus: #db4437 !default;
$github: #24292e !default;
$youtube: #ff0001 !default;
$pinterest: #BE0216 !default;
$instagram: #B22AA5 !default;


$brand-colors: () !default;
$brand-colors: map-merge(
  (
    'facebook': $facebook,
    'google-plus': $google-plus,
    'twitter': $twitter,
    'linkedin': $linkedin,
    'youtube': $youtube,
    'github': $github,
    'pinterest': $pinterest,
    'instagram': $instagram,
  ),
  $brand-colors
);

//*-----------------------------------------------
//|   Border
//-----------------------------------------------*/
$border-color: var(--#{$variable-prefix}border-color);
$border-width: 1px !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-negative-margins: true !default;


$component-active-color: $white !default;
// $component-active-bg: var(--#{$variable-prefix}primary) !default;

//*-----------------------------------------------
//|   Shadow
//-----------------------------------------------*/
$box-shadow: var(--#{$variable-prefix}box-shadow) !default;
$box-shadow-sm: var(--#{$variable-prefix}box-shadow-sm) !default;
$box-shadow-lg: var(--#{$variable-prefix}box-shadow-lg) !default;
$box-shadow-inset: var(--#{$variable-prefix}box-shadow-inset) !default;

//*-----------------------------------------------
//|   Spacing
//----------------------------------------------

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: $spacer * 0.25, 
    2: $spacer * 0.5,  
    3: $spacer,        
    4: $spacer * 1.8,  
    5: $spacer * 3,   
    6: $spacer * 4,    
    7: $spacer * 5,   
    8: $spacer * 7.5, 
    9: $spacer * 10,   
    10: $spacer * 12.5,
    11: $spacer * 15.0   
  ),
  $spacers
);


//*-----------------------------------------------
//|   Body
//-----------------------------------------------*/

$body-bg: $white !default;
$body-color: $gray-800 !default;

//*-----------------------------------------------
//|   Link
//-----------------------------------------------*/
$link-decoration: none !default;
$link-hover-decoration: underline !default;

//*-----------------------------------------------
//|   Components
//-----------------------------------------------*/
$border-radius: 0.188rem !default;
$border-radius-lg: 0.625rem !default;
$border-radius-pill:          50rem;

//*-----------------------------------------------
//|   Fonts Families
//-----------------------------------------------*/
$font-family-sans-serif: Source Sans Pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//*-----------------------------------------------
//|   Fonts
//-----------------------------------------------*/
$type-scale: 1.250 !default;
$font-size-base: 1rem !default;
$font-sizes: () !default;
$font-sizes: map-merge(
  (
    '-2': math.div(1 , pow($type-scale, 2)) * $font-size-base,
    '-1': math.div(1 , $type-scale) * $font-size-base,
    0: $font-size-base,
    1: pow($type-scale, 1) * $font-size-base, 
    2: pow($type-scale, 2) * $font-size-base, 
    3: pow($type-scale, 3) * $font-size-base, 
    4: pow($type-scale, 4) * $font-size-base, 
    5: pow($type-scale, 5) * $font-size-base, 
    6: pow($type-scale, 6) * $font-size-base, 
    7: pow($type-scale, 7) * $font-size-base, 
    8: pow($type-scale, 8) * $font-size-base, 
  ),
  $font-sizes
);

$lead-font-size:              $font-size-base * 1.25 !default;

$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.333 !default;
$font-weight-thin: 100 !default;
$font-weight-lighter: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;
$font-weight-black: 900 !default;

$h1-font-size: map_get($font-sizes, 5) !default;
$h2-font-size: map_get($font-sizes, 4) !default;
$h3-font-size: map_get($font-sizes, 3) !default;
$h4-font-size: map_get($font-sizes, 2) !default;
$h5-font-size: map_get($font-sizes, 1) !default;
$h6-font-size: map_get($font-sizes, '-1') !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: $font-weight-medium !default;
$headings-margin-bottom: ($spacer * 0.4) !default;
$headings-color: $gray-1100 !default;

$display1-size: map_get($font-sizes, 9) !default;
$display2-size: map_get($font-sizes, 8) !default;
$display3-size: map_get($font-sizes, 7) !default;
$display4-size: map_get($font-sizes, 6) !default;

$display1-weight: $font-weight-thin !default;
$display2-weight: $font-weight-thin !default;
$display3-weight: $font-weight-lighter !default;
$display4-weight: $font-weight-lighter !default;


$display-font-weight: 200 !default;
$display-line-height: 1 !default;

// scss-docs-start display-headings
$display-font-sizes: () !default;
$display-font-sizes: map-merge(
  (
    1: map_get($font-sizes, 8),
    2: map_get($font-sizes, 7),
    3: map_get($font-sizes, 6),
    4: map_get($font-sizes, 5),
    5: map_get($font-sizes, 4),
    6: map_get($font-sizes, 3),
  ),
  $display-font-sizes
);

$display-font-weight: $font-weight-black !default;
$display-line-height: 1 !default;
// scss-docs-end display-headings

$lead-font-size: $font-size-lg !default;
$lead-font-weight: $font-weight-normal !default;

$small-font-size: 75% !default;

$text-muted: $gray-500 !default;

$blockquote-font-size: $font-size-lg !default;

$line-height-base:            1.45;
$line-height-sm:              .85;
$line-height-md:              1.5;
$line-height-lg:              2.05;

//*-----------------------------------------------
//|   Transition
//-----------------------------------------------*/

$transition-base: all .4s ease-in-out !default;

//*-----------------------------------------------
//|   Buttons
//-----------------------------------------------*/

$btn-font-weight: $font-weight-bold !default;
$btn-font-size: .8rem !default;
//*-----------------------------------------------
//|   Buttons
//-----------------------------------------------*/
$btn-box-shadow: 0 0 0 transparent;
// $btn-hover-bg-shade-amount:       55% !default;

$btn-border-radius:           $border-radius;
// $btn-border-radius-sm:        $border-radius;
// $btn-border-radius-lg:        $border-radius;


//*-----------------------------------------------
//|   Buttons and Forms
//-----------------------------------------------*/

$input-padding-x: 0.625rem !default;
$input-btn-padding-y: 0.8rem !default;
$input-btn-padding-x: 2.5rem !default;
$input-btn-padding-y-sm: 0.4rem !default;
$input-btn-padding-x-sm: 1.4rem !default;
$input-btn-padding-y-lg: 0.9375rem !default;
$input-btn-padding-x-lg: 3.625rem !default;
$input-btn-line-height-lg: 0.7368 !default;
$input-btn-line-height: $line-height-md !default;

$input-height-border:                   1px * 2 !default;
$form-floating-height:            add(2.75rem, $input-height-border) !default;
$form-floating-line-height:       1.25 !default;
$form-floating-padding-y:         .75rem !default;

//*-----------------------------------------------
//|   Forms
//-----------------------------------------------*/
$input-disabled-bg: $gray-200 !default;
$input-group-addon-bg: $gray-200 !default;
$input-border-color: $gray-800 !default;
$input-color: $gray-900 !default;
$input-padding-x: $input-btn-padding-y !default;
$input-padding-y: $input-btn-padding-y !default;
$input-padding-x-sm: 0.5rem !default;
$input-padding-x-lg: $input-btn-padding-y-lg !default;
$input-font-size: map-get($font-sizes, '-1' );
// $btn-font-weight: $font-weight-medium !default;
$input-box-shadow: 0 0 0 transparent;
$form-select-indicator-color:       $gray-400 !default;
$input-bg:  $gray-100;
$input-border-color: $gray-300;
$form-select-font-size-sm: .8rem;
$form-select-font-weight: $font-weight-semi-bold;
$form-select-border-color: $gray-300;
//*-----------------------------------------------
//|   Z-index
//-----------------------------------------------*/

$zindex-sticky: 1000 !default;

//*-----------------------------------------------
//|   Navigation
//-----------------------------------------------*/
$navbar-nav-link-padding-x: $spacer * 1.2;
$nav-link-padding-y: 0.4rem;
$navbar-brand-padding-y: .25rem;


$navbar-font-size: $font-size-base * 0.8 !default;

$top-nav-height: 5.625rem !default;
$standard-nav-height: 3.5625rem !default;

$nav-tabs-border-width: 2px;

// Navbar Glass

$bg-navbar-glass: var(--#{$variable-prefix}bg-navbar-glass) !default;
$navbar-brand-font-size: 1.3rem !default;

//*-----------------------------------------------
//|   Dropdowns | Dropdown menu container and contents.
//-----------------------------------------------*/
$dropdown-font-size: $navbar-font-size !default;
$dropdown-link-color:               $gray-700 !default;
$dropdown-spacer:                   0 !default;
$dropdown-link-active-color:        $gray-700 !default;

//*-----------------------------------------------
//|   Pagination
//-----------------------------------------------*/
$pagination-padding-y: 0.5rem !default;
$pagination-padding-x: 0.75rem !default;
$pagination-padding-y-sm: 0.25rem !default;
$pagination-padding-x-sm: 0.5rem !default;
$pagination-padding-y-lg: 0.75rem !default;
$pagination-padding-x-lg: 1.5rem !default;
$pagination-line-height: 1.25 !default;


$pagination-color: var(--#{$variable-prefix}pagination-color) !default;
$pagination-border-color: var(--#{$variable-prefix}pagination-border-color) !default;
$pagination-hover-color: var(--#{$variable-prefix}pagination-hover-color) !default;
$pagination-hover-bg: var(--#{$variable-prefix}pagination-hover-bg) !default;
$pagination-hover-border-color: var(--#{$variable-prefix}pagination-hover-border-color) !default;
$pagination-active-color: var(--#{$variable-prefix}pagination-active-color) !default;
$pagination-active-bg: var(--#{$variable-prefix}pagination-active-bg) !default;
$pagination-active-border-color: var(--#{$variable-prefix}pagination-active-border-color) !default;

$pagination-disabled-color: $gray-400;
$pagination-disabled-border-color: $gray-200;

//*-----------------------------------------------
//|   Cards
//-----------------------------------------------*/
$card-spacer-y: 2.5rem !default;
$card-spacer-x: 2.5rem !default;
$card-border-color:  rgba($black, .06) !default;


// /*-----------------------------------------------
//|   Breadcrumbs
//-----------------------------------------------*/
//*-----------------------------------------------
//|   Breadcrumbs
//-----------------------------------------------*/
$breadcrumb-padding-x: 0 !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: "transparent";
$breadcrumb-divider: quote("\00BB") !default;
$breadcrumb-divider-color: $gray-400 !default;
$breadcrumb-active-color: $white !default;


//*=============================================
//|   Theme Specific
//=============================================


//*-----------------------------------------------
//|   Viewport Heights & Widths
//----------------------------------------------

$viewport-heights: () !default;
$viewport-heights: map-merge(
  (
    25: 25vh,
    50: 50vh,
    75: 75vh,
    100: 100vh,
  ),
  $viewport-heights
);

$viewport-widths: () !default;
$viewport-widths: map-merge(
  (
    25: 25vw,
    50: 50vw,
    75: 75vw,
    100: 100vw,
  ),
  $viewport-widths
);

$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);


$gutters: () !default;
$gutters: map-merge($spacers, (card: $card-spacer-x * 2));


//*-----------------------------------------------
//|   Scrollbar
//-----------------------------------------------*/
$scrollbar-bg: var(--#{$variable-prefix}scrollbar-bg) !default;
$simplebar-bg: $scrollbar-bg !default;


//*-----------------------------------------------
//|   Accordion 
//-----------------------------------------------*/
$accordion-border-color: var(--#{$variable-prefix}accordion-border-color) !default;
$accordion-color: var(--#{$variable-prefix}accordion-button-active-color) !default; //ntr 
$accordion-button-active-color: var(--#{$variable-prefix}accordion-button-active-color) !default;
$accordion-button-active-bg: var(--#{$variable-prefix}accordion-button-active-bg) !default;
$accordion-bg: $white;
$accordion-icon-width: .6rem;
$accordion-icon-transform: rotate(90deg);
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#000'><path fill-rule='evenodd' d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
$accordion-button-active-icon:$accordion-button-icon;
$accordion-body-padding-x: 2.5rem;
$accordion-body-padding-y: 0.8rem;

//*-----------------------------------------------
//|   carousel
//-----------------------------------------------*/

$carousel-indicator-active-bg:       $white !default;
$carousel-indicator-width:           0.625rem !default;
$carousel-indicator-height:          0.625rem !default;
$carousel-indicator-hit-area-height : 0 !default;

$carousel-control-color:             $gray-700 !default;
$carousel-control-icon-width:        .7rem !default;

//*-----------------------------------------------
//|  table
//-----------------------------------------------*/
$table-cell-padding-y:        1rem !default;
$table-cell-padding-x:        1rem !default;