mixin Contact-4
	+Section.font-1#contact-4
		.row.justify-content-center
			.col-lg-5.text-center.border-bottom.border-300.mb-5
				h2 Get in Touch
				p.mb-4.font-sans-serif Please let us know your valuable feedback
			.col-12
				.row
					.col-sm-6.col-md-4
						.d-flex
							span.fas.fa-map-marker.fs-1.me-3.mt-1
							.flex-1
								p.fw-light.font-sans-serif
									span.fw-semi-bold Slick Headquarte
									br
									span.text-700 Apt 4D, Central Ave
									br 
									span.text-700 Tallin, Estonia
					.col-sm-6.col-md-4
						.d-flex
							span.fas.fa-phone.fs-1.me-3.mt-1
							.flex-1
								p.fw-light.font-sans-serif
									span.fw-semi-bold Phone: 
									span.text-700 &nbsp;&nbsp;&nbsp;&nbsp; 458.564.4545
									br 
									span.fw-semi-bold Reserve: 
									span.text-700 &nbsp; 677.454.5757
					.col-sm-6.col-md-4
						.d-flex
							span.fas.fa-envelope.fs-1.me-3.mt-1
							.flex-1
								a.fw-light.font-sans-serif(href='#') info@themewagon.com
			.col-12.my-5
				.googlemap.shadow.rounded-3(data-gmap data-latlng='48.8582642,2.2923184,' data-scrollwheel='false' data-zoom='15' data-theme='Default' style="min-height: 400px")
					.marker-content.py-3
						h4 Eiffel Tower
						p Gustave Eiffel's iconic,
							br
							| wrought-iron 1889 tower.
