extends ../layouts/LayoutBlock
include ../mixins/blocks/contact/Contact-1

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts
	script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)
	script(src=`https://smtpjs.com/v3/smtp.js`)

append mainContent

	+Contact-1
