extends ../layouts/LayoutBlock
include ../mixins/blocks/content/Content-17

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Content-17
