extends ../layouts/LayoutBlock
include ../mixins/blocks/contact/Contact-5

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts
	script(src=`https://smtpjs.com/v3/smtp.js`)

append mainContent
	+Contact-5
