extends ../layouts/LayoutBlock
include ../mixins/blocks/cta/Cta-2

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts
	script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

append mainContent
	+Cta-2
