extends ../layouts/LayoutBlock
include ../mixins/blocks/features/Features-16

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts
	script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

append mainContent
	+Features-16
