extends ../layouts/LayoutBlock
include ../mixins/blocks/features/Features-1

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Features-1
