extends ../layouts/LayoutBlock
include ../mixins/blocks/footer/Footer-13

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Footer-13
