extends ../layouts/LayoutBlock
include ../mixins/blocks/gallery/Gallery-2

append variables
	- var navigation = false;
	- var Footer = false;

append styles
	link(href=`${CWD}vendors/glightbox/glightbox.min.css`, rel='stylesheet')
append scripts
	script(src=`${CWD}vendors/glightbox/glightbox.min.js`)

append mainContent
	+Gallery-2
