extends ../layouts/LayoutBlock
include ../mixins/blocks/header/Header-2

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Header-2
