extends ../layouts/LayoutBlock
include ../mixins/blocks/header/Header-13

append variables
	- var navigation = false;
	- var Footer = false;

append scripts
	script(src=`${CWD}vendors/bigpicture/BigPicture.js`)
	
append mainContent
	+Header-13
