extends ../layouts/LayoutBlock
include ../mixins/blocks/navigation/Navigation-11

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Navigation-11('Slick','light').navbar-dark.bg-dark
