extends ../layouts/LayoutBlock
include ../mixins/blocks/navigation/Navigation-5

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Navigation-5('border-300').navbar-light.bg-light
