extends ../layouts/LayoutBlock
include ../mixins/blocks/navigation/Navigation-7

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Navigation-7('Slick').navbar-dark.bg-dark
