extends ../layouts/LayoutBlock
include ../mixins/blocks/pricing/Pricing-7

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Pricing-7
