extends ../layouts/LayoutBlock
include ../mixins/blocks/testimonials/Testimonials-4

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts

append mainContent
	+Testimonials-4
