extends ../layouts/LayoutComponent
include ../mixins/common/ComponentLink

append variables 
	- var pageTitle = 'Bigpicture';

prepend scripts 
	script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

block component
	+ComponentLink({
		text:'For more detail see. ',
		linkText: 'Bigpicture documentation ',
		link: `https://github.com/henrygd/bigpicture`,
	})

	.row
		.col-lg-12
			+ComponentCardLib({codeTitle: 'Javascript'}).mt-4
				script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

	h5.mt-4 Example
	.row
		.col-12.mb-3
			+ComponentCard
				.row.gx-2
					.col-auto
						.btn.btn-primary(data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}') YouTube
					.col-auto
						.btn.btn-primary(data-bigpicture='{"vimeoSrc":"58558497"}') Vimeo