mixin Footer-11
	+Section.bg-1100.text-center.py-5#footer-11&attributes(attributes)
		.row.align-items-center
			.col-lg.text-lg-start
				h5.text-400.mb-1.fw-semi-bold SLICK inc.
				p.mb-0 &copy; Copyright 2022 Slick

			.col-lg-auto.mt-4.mt-lg-0
				a(href="#").link-500.d-inline-block.m-2 Projects
				a(href="#").link-500.d-inline-block.m-2 How Slick Works
				a(href="#").link-500.d-inline-block.m-2 About
				a(href="#").link-500.d-inline-block.m-2 Contacts

			.col-lg.text-lg-end.mt-4.mt-lg-0
				a(href='#').d-inline-block
					.border.border-1000.rounded-circle.d-flex.flex-center.m-1(style="width: 50px; height: 50px;")
						span.fab.fa-twitter.text-700
				a(href='#').d-inline-block
					.border.border-1000.rounded-circle.d-flex.flex-center.m-1(style="width: 50px; height: 50px;")
						span.fab.fa-facebook-f.text-700
				a(href='#').d-inline-block
					.border.border-1000.rounded-circle.d-flex.flex-center.m-1(style="width: 50px; height: 50px;")
						span.fab.fa-google-plus-g.text-700
