mixin Footer-13
	+Section.py-6#footer-13
		.row
			.col-lg-auto
				a(href="#").link-900.d-inline-block.mb-3.me-4 Portfolio
				a(href="#").link-900.d-inline-block.mb-3.me-4 How it Works
				a(href="#").link-900.d-inline-block.mb-3.me-4 Pricing
				a(href="#").link-900.d-inline-block.mb-3.me-4 About
				a(href="#").link-900.d-inline-block.mb-3 Login

			.col-12
				hr.border.opacity-50.my-2

			.col-lg-auto.mt-4
				h5.text-900.fw-bold.mb-4
					| Slick 
					span.fw-normal.pe-4 Framework

			.col-lg-5.mt-4
				p.text-500.mb-0.pe-md-11.pe-lg-0 A super flexible framework where you can use any element in any layout and they won't break. Seriously.

			.col-lg-auto.ms-lg-auto.mt-4
				a(href="#").link-900.d-inline-block.mb-3.me-4 Pricing
				a(href="#").link-900.d-inline-block.mb-3.me-4 About
				a(href="#").link-800.me-4
					span.fab.fa-twitter
				a(href="#").link-800.me-4
					span.fab.fa-facebook-f
				a(href="#").link-800
					span.fab.fa-google-plus-g
