mixin Footer-7
	+Section.text-center.py-6#footer-7
		.row.align-items-center.justify-content-center
			.col-12
				img(src=`${CWD}assets/img/slick-logo-black.svg` width=60 alt='')

			.col-12.fw-semi-bold.fs--1.mt-4
				a(href="#").link-1000.mx-2.d-inline-block Slick
				a(href="#").link-1000.mx-2.d-inline-block Features
				a(href="#").link-1000.mx-2.d-inline-block How it works
				a(href="#").link-1000.mx-2.d-inline-block Pricing
				a(href="#").link-1000.mx-2.d-inline-block About
				a(href="#").link-1000.mx-2.d-inline-block Contact Us
			
			.col-6
				hr.border-300.my-4
			.col-12
				h6.text-600 &copy; Copyright 2022 SLICK Inc.