mixin Footer-4
	+Section.py-6#footer-4
		.row.align-items-center
			.col
				.row.justify-content-center.justify-content-md-between.g-0
					.col-auto.col-md-4.order-1.order-md-0
						a(href="#!").link-1000.d-inline-block.mb-3.me-3 Portfolio
						a(href="#!").link-1000.d-inline-block.mb-3 Documentation

					.col-md-auto.text-center
						h5.link-1000.fw-bold.mb-4.mb-md-0
							| Slick 
							span.fw-normal Inc.

					.col-auto.col-md-4.text-sm-end.order-2
						a(href="#!").link-1000.d-inline-block.mb-3.me-3 Pricing
						a(href="#!").link-1000.d-inline-block.mb-3.me-3 About
						a(href="#!").link-1000.d-inline-block.mb-3 Login
				
				.row.border-top.border-200.text-center
					.col-lg-4.mt-3.d-none.d-lg-block.text-lg-start
						p.text-700.fw-light.mb-3.fs--1 N.B. You can use any elements of Slick into any pages and it will work just fine.

					.col-lg-4.mt-4.mt-lg-3.text-center
						a(href="#!").link-800.me-3
							span.fab.fa-twitter
						a(href="#!").link-800.me-3
							span.fab.fa-facebook-f
						a(href="#!").link-800.me-3
							span.fab.fa-google-plus-g
						a(href="#!").link-800
							span.fab.fa-instagram

					.col-lg-4.mt-4.mt-lg-3.order-2.text-lg-end
						span.fw-light.fs--1.d-block.d-lg-inline.mt-lg-0 &copy; 2022 slick. All rights reserved.
