mixin Footer-9
	+Section.py-6.bg-1100#footer-9
		.row
			.col-md-10.col-lg-4.mb-4.mb-lg-0.mb-5.mb-lg-0
				h4.text-white.lh-3 Empowering Designers, Makers, Doers and Creatives 
				p.text-500 Founded in 2010 and based in Estonia, Slick is ranked among the top 10 companies in the  entire world. 
				
				a(href="#").btn.btn-facebook.btn-sm.mt-3.me-2
					span.fab.fa-facebook-square.me-3(data-fa-transform='grow-8')
					| Like Slick
				a(href="#").btn.btn-outline-twitter.btn-sm.mt-3
					span.fab.fa-twitter.me-3(data-fa-transform='grow-8')
					| Follow @slick

			.w-md-100.d-lg-none
			.col-md-auto.col-lg-4.offset-lg-1
				.row
					.col-auto.pe-5
						h6.text-100.fs-0.mb-3 About
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#!").link-500 Contact Us
							li.mt-1
								a(href="#!").link-500 Newsroom
							li.mt-1
								a(href="#!").link-500 Investores
							li.mt-1
								a(href="#!").link-500 Opportunities
		
					.col-auto
						h6.text-100.fs-0.mb-3 Account
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#!").link-500 Login
							li.mt-1
								a(href="#!").link-500 Sign Up
							li.mt-1
								a(href="#!").link-500 FAQ
							li.mt-1
								a(href="#!").link-500 Support

			.col-md-4.col-lg-auto.text-lg-center.ms-auto.d-flex.align-items-center.mb-3.flex-md-column.flex-wrap.mt-5.mt-md-0
				a(href="#!").btn.btn-danger.me-3.me-lg-0 Purchase Slick
				a(href="#!").link-300.p-3 or Learn More

		.row.mt-6
			.col
				span.text-600 &copy; 2022 Slick. All Right Reserved
				a(href="#").link-500.mx-3
					u Tearms of Service
				a(href="#").link-500
					u Privacy Policy
