mixin Footer-3
	+Section.bg-100.pt-6.pb-0#footer-3
		.row
			.col-lg-3
				h5.mb-3.link-900 Shop and Design
				p.mt-3.mb-5.pe-lg-6 Be sure to take a peak at Slick's new features
				a(href="#").link-500.fs-1.me-3
					span.fab.fa-twitter
				a(href="#").link-500.fs-1.me-3
					span.fab.fa-facebook-f
				a(href="#").link-500.fs-1
					span.fab.fa-google-plus-g

			.col-lg-8.ms-lg-auto
				.row.mt-6.mt-lg-0
					.col-4.col-sm-3
						h5.mb-3.fw-normal.link-900 About
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Team
							li.mt-1
								a(href="#").link-600 News
							li.mt-1
								a(href="#").link-600 Features

					.col-5.col-sm-3
						h5.mb-3.fw-normal.link-900 Work
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Portfolio
							li.mt-1
								a(href="#").link-600 Lastest Project
							li.mt-1
								a(href="#").link-600 Brands
								
					.col-12.d-sm-none
					.col-4.col-sm-3.mt-3.mt-sm-0
						h5.mb-3.fw-normal.link-900 Members
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Privacy
							li.mt-1
								a(href="#").link-600 Support
							li.mt-1
								a(href="#").link-600 Help Desk
							li.mt-1
								a(href="#").link-600 FAQ

					.col-5.col-sm-3.mt-3.mt-sm-0
						h5.mb-3.fw-normal.link-900 Follow Slick
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Facebook
							li.mt-1
								a(href="#").link-600 Twitter
							li.mt-1
								a(href="#").link-600 Google Plus
							li.mt-1
								a(href="#").link-600 Github
			.col-12
				hr.border-300.mt-5.mb-0
				.text-center.py-4.link-500 &copy; 2022 Slick Inc. All right reserved.
