mixin Footer-2
	+Section.text-center.py-6#footer-2&attributes(attributes)
		.row.g-0.flex-center
			.col-md-5.text-md-end.order-1.order-md-0.mt-3.mt-md-0
				a(href="#").link-800.d-inline-block.mx-2 Portfolio
				a(href="#").link-800.d-inline-block.mx-2 Documentation
			.col-3.col-md-2
				img(src=`${CWD}assets/img/slick-logo-black.svg` width="60" alt="")
			.col-md-5.text-md-start.order-2.mt-2.mt-md-0
				a(href="#").link-800.d-inline-block.mx-2 Pricing
				a(href="#").link-800.d-inline-block.mx-2 About
				a(href="#").link-800.d-inline-block.mx-2 Contacts
