mixin Footer-8
	+Section.py-6.bg-1100.text-center#footer-8&attributes(attributes)
		.row.flex-center
			.col-md-auto.col-lg-4.order-1.my-3.my-lg-0.fw-semi-bold.fs--1
				a(href="#!").link-500.me-3 Portfolio
				a(href="#!").link-500.me-3 Docs
				a(href="#!").link-500 Login
			.col-lg-4.order-0.order-lg-1.mb-3.mb-md-0
				h5.text-white.fw-bold.mb-0
					| Slick 
					span.fw-normal.text-400 Incorporation

			.col-md-auto.col-lg-4.order-1.fw-semi-bold.fs--1
				a(href="#!").link-500.me-3 Pricing
				a(href="#!").link-500.me-3 About
				a(href="#!").link-500.me-2
					span.fab.fa-facebook
				a(href="#!").link-500.me-2
					span.fab.fa-behance
				a(href="#!").link-500
					span.fab.fa-slack
				
		.row
			.col-12
				hr.text-1000.my-4
				p.text-700.text-center &copy; 2022 slick. All rights reserved.
