mixin Footer-6
	+Section.py-6#footer-6&attributes(attributes)
		.row
			.col-sm-5.col-lg-3
				h4.text-1000.fw-bold.mb-2 Slick 
					span.fw-light Inc.
				p &copy; Copyright 2022
			.col.col-lg-3.me-4.mt-4.mt-sm-0
				h6.text-1000.fs-0.fw-semi-bold.mb-2 Try for Free
				p.my-3.fw-light.pe-5 You can always come back and try our 
					a(href=generator_link target='_blank') builder for free.

			.col-lg.mt-4.mt-lg-0.border-top.border-200.border-lg-0.pt-4.pt-lg-0
				.row
					.col-4.col-sm-3
						h6.text-1000.fs-0.fw-semi-bold.mb-3 About
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Features
							li.mt-1
								a(href="#").link-600 Pricing
							li.mt-1
								a(href="#").link-600 Tour

					.col-5.col-sm-3
						h6.text-1000.fs-0.fw-semi-bold.mb-3 Help
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Portfolio
							li.mt-1
								a(href="#").link-600 Work
							li.mt-1
								a(href="#").link-600 Brands
					.col-12.d-sm-none
					.col-4.col-sm-3.mt-4.mt-sm-0
						h6.text-1000.fs-0.fw-semi-bold.mb-3 Resources
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Privacy
							li.mt-1
								a(href="#").link-600 Support
							li.mt-1
								a(href="#").link-600 Help Desk
							li.mt-1
								a(href="#").link-600 FAQ

					.col-5.col-sm-3.mt-4.mt-sm-0
						h6.text-1000.fs-0.fw-semi-bold.mb-3 Commercial
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 About Us
							li.mt-1
								a(href="#").link-600 Blog
							li.mt-1
								a(href="#").link-600 Team
							li.mt-1
								a(href="#").link-600 Career
							li.mt-1
								a(href="#").link-600 Contact
