mixin Footer-12
	+Section.bg-1100.pt-6.pb-0#footer-12
		.row
			.col-lg-3
				h4.text-white.mb-3 Shop and Design
				p.mt-3.mb-5.pe-lg-6.text-600 Be sure to take a peak at Slick's new features
				a(href="#").link-400.fs-1.me-3
					span.fab.fa-twitter
				a(href="#").link-400.fs-1.me-3
					span.fab.fa-facebook-f
				a(href="#").link-400.fs-1
					span.fab.fa-google-plus-g

			.col-lg-8.ms-lg-auto
				.row.mt-6.mt-lg-0
					.col-4.col-sm-3
						h5.text-300.mb-3 About
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Team
							li.mt-1
								a(href="#").link-600 News
							li.mt-1
								a(href="#").link-600 Features

					.col-6.col-sm-3
						h5.text-300.mb-3 Work
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Portfolio
							li.mt-1
								a(href="#").link-600 Lastest Project
							li.mt-1
								a(href="#").link-600 Brands
								
					.col-12.d-sm-none

					.col-4.col-sm-3.mt-4.mt-sm-0
						h5.text-300.mb-3 Members
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Privacy
							li.mt-1
								a(href="#").link-600 Support
							li.mt-1
								a(href="#").link-600 Help Desk
							li.mt-1
								a(href="#").link-600 FAQ

					.col-6.col-sm-3.mt-4.mt-sm-0
						h5.text-300.mb-3 Follow Slick
						ul.list-unstyled.ps-0.font-base
							li
								a(href="#").link-600 Facebook
							li.mt-1
								a(href="#").link-600 Twitter
							li.mt-1
								a(href="#").link-600 Google Plus
							li.mt-1
								a(href="#").link-600 Github
			.col-12
				hr.border-1000.mt-5.mb-0
				.text-center.py-4.text-700 &copy; 2022 Slick Inc. All right reserved.
