mixin Content-3
	+Section.bg-1100.text-center#content-3
		.row.justify-content-center
			.col-md-11.col-lg-9
				h6.fs-0.text-500.lh-2 Lifetime updates right into your inbox
				p.fs-2.text-white.mt-4 Slick is driven by the community - people suggest us the bugs, enhancement and request for new features. We are continuously updating it. All updates will be emailed to your inbox directly. 
