mixin Content-15
	+Section({image: `${CWD}assets/img/67.jpg`, className: "overlay overlay-0"})#content-15
		.row.flex-center.justify-content-lg-between
			.col-10.col-sm-12.col-md-10.col-lg-7
				h2.text-white.fw-light.fs-3.fs-md-4 Finally, the 
					span.fw-bold template you expect 
					| comes with Bootstrap 5 Framework
			.col-10.col-sm-12.col-md-10.col-lg-4.mt-3.mt-lg-0
				p.text-300 Bootstrap framework contains elements and components and modular coding blocks that can be reused in any design.
