mixin Content-16
	+Section({image: `${CWD}assets/img/09.jpg`, className: "overlay overlay-0"}).text-center#content-16
		.row.justify-content-center
			.col-lg-9
				.border.rounded-3.px-5.px-lg-7.py-6.border-700
					h3.text-white.mb-4.fs-sm-2.fs-md-3 The Missing Parts of 
						span.fw-bolder Bootstrap 5
				
					p.lead.text-400.mb-0 With the extended version of Bootstrap 5, Slick has limitless possibilities to create an awesome design that matches 
						br.d-none.d-xl-block
						| the modern web design trend.
