mixin Content-17
	+Section.bg-100#content-17
		.row
			.col-lg-9
				h3.mb-4 A full-fledged solution for the design conscious people to launch professional a website speedily.
				
				p.lead For renovating the process of how we design a website with an HTML5 template, Slick was created. We used the Bootstrap 5 to develop it. With Slick, you can control the design through HTML code; with or without coding knowledge.

				p.lead Slick comes with a serious of impressive pages and reusable layouts &amp; components. Try Slick today and get all the unlimited possibilities firsthand. 
