mixin Content-14
	+Section.text-center.py-7#content-14
		.row.justify-content-center
			.col-md-11.col-lg-8
				h1.fs-4.fs-md-5 Be confident that everything 
					br.d-none.d-lg-block
					| you design is flawless.
				p.mt-4.px-md-5.px-xl-7 Slick helps you create the flawless design for your agency, personal, portfolio, shop or nearly any websites that you build with HTML.

