mixin Content-7
	+Section.text-center#content-7
		.row.justify-content-center
			.col-lg-11.col-xl-10
				h3.fs-3.lh-2 Forward Thinking Structure
				.row.align-items-center.mt-5
					.col-md-6
						.border.border-300.border-x-0.p-4
							p.lead.mb-0 Slick contains layouts and pages which can be easily used into almost any design. You have the true power of editing the template effortlessly.
					.col-md-6
						.border.border-300.border-x-0.p-4
							p.lead.mb-0 You can make changes in font size, margin, padding or even margin top, padding bottom and all from HTML code without coding knowledge.
