mixin Content-24
	+Section.bg-1100#content-24
		.row.justify-content-center.mt-5
			.col-lg-4.text-lg-start.ps-lg-7.order-2
				.row.align-items-center
					.col-sm-4.col-lg-12
						h5.text-200.mb-0 Tweets
						p.fw-light.font-sans-serif.mb-5.lh-2.fs-5.fs-lg-6.text-400(data-countup!={endValue: 827,duration: 10}) 0
					.col-sm-4.col-lg-12
						h5.text-200.mb-0 Retweets
						p.fw-light.font-sans-serif.mb-5.lh-2.fs-5.fs-lg-6.text-400(data-countup!={endValue: 3676,duration: 10}) 0
					.col-sm-4.col-lg-12
						h5.text-200.mb-0 Followers
						p.fw-light.font-sans-serif.mb-5.lh-2.fs-5.fs-lg-6.text-400.text-uppercase(data-countup!={endValue: 11.8, decimalPlaces: 2, suffix : 'M' }) 0
					.col
						a(href='#').btn.btn-outline-twitter.btn-sm.hvr-sweep-left
							span.fab.fa-twitter.me-3(data-fa-transform='grow-6')
							| Follow @slick
			.col-lg-7.mb-4
				.border.border-900.rounded-3.p-4
					.d-flex.mb-3.align-items-center
						img(src=`${CWD}assets/img/portraits/square/11.jpg` alt='profile' width=70).d-flex.me-3.rounded-pill
						.flex-1
							h5.text-white.mb-0 Olivia Carter
							a(href='#').text-500 @oliviacarter
					p.text-400.mb-0 Customizing Slick is so easy that building nice websites is like a child game. Surprisingly simple and painless with eye-catchy 
						a(href='#').text-twitter #Designs
						|  and unique sections.
				.border.border-900.rounded-3.p-4.mt-4
					.d-flex.mb-3.align-items-center
						img(src=`${CWD}assets/img/portraits/square/02.jpg` alt='profile' width=70).d-flex.me-3.rounded-pill
						.flex-1
							h5.text-white.mb-0 Nate Hanson
							a(href='#').text-500 @natemhanson
					p.text-400.mb-0 Drag and drop 
						a(href='#').text-twitter #PageBuilder
						|  of Slick helps me finish my project quickly and in time delivery to my clients. They are also happy with the website I made with 
						a(href='#').text-twitter @Slick
						| .
				.border.border-900.rounded-3.p-4.mt-4
					.d-flex.mb-3.align-items-center
						img(src=`${CWD}assets/img/portraits/square/13.jpg` alt='profile' width=70).d-flex.me-3.rounded-pill
						.flex-1
							h5.text-white.mb-0 Emily Campbell
							a(href='#').text-500 @emilycampbell
					p.text-400.mb-0 Absolutely love this template and works really well. The team is very 
						a(href='#').text-twitter #Supportive
						|  and friendly. They listened to my questions and helped with every issue. Many thanks.
