mixin Content-27
	+Section#content-27
		.row.justify-content-center
			.col-12.col-lg-6.pe-xl-8.pe-lg-7.h-100
				#carouselExampleSlidesOnly.carousel.slide.carousel-fade.h-100.carousel-slider.carousel-control-hover(data-bs-ride='carousel')
					.carousel-inner.h-100
						.carousel-item.active.h-100
							img.d-block.rounded-3.img-fluid.fit-cover.h-100(src=`${CWD}assets/img/64.jpg` alt='...')
						.carousel-item.h-100
							img.d-block.rounded-3.img-fluid.fit-cover.h-100(src=`${CWD}assets/img/65.jpg` alt='...')
					button.carousel-control-prev(type='button' data-bs-target='#carouselExampleSlidesOnly' data-bs-slide='prev')
						span.carousel-control-prev-icon.ps-5(aria-hidden='true')
						span.visually-hidden Previous
					button.carousel-control-next(type='button' data-bs-target='#carouselExampleSlidesOnly' data-bs-slide='next')
						span.carousel-control-next-icon.pe-5(aria-hidden='true')
						span.visually-hidden Next	

			.col-11.col-lg-5.h-100.mt-6.mt-lg-0
				.row
					.col-11.offset-1.offset-sm-0.font-sans-serif.border-start.border-300.border-2.ps-5.pe-0.no-circle
						span.bg-500 1
						h5.text-1000 Do you have a refund policy?
						p.lead.mb-5 Yes, we have a 100% money back guarantee. If you are not satisfied with Slick, please create a support ticket and we will get you full refund. No question asked.
					.col-11.offset-1.offset-sm-0.font-sans-serif.border-start.border-300.border-2.ps-5.pe-0.no-circle
						span.bg-700 2
						h5.text-1000 What's the standard reply time for support?
						p.lead.mb-5 Usually we reply within an hour if it's working hours. If not, it may be delayed upto 10 hours maximum. 
					.col-11.offset-1.offset-sm-0.font-sans-serif.ps-5.pe-0.no-circle
						span.bg-900 3
						h5.text-1000 Will I get the update in future?
						p.lead.mb-0  We provide lifetime update free to our customers. Whenever there is an update, you will be notified via email about it.
