mixin Content-18
	+Section.py-0#content-18
		.row.justify-content-center
			.col-lg-11
				img(src=`${CWD}assets/img/37.jpg` alt="image").rounded-3.img-fluid
				p.text-500.mt-3.text-end A beautiful view of mountain

