mixin Content-22
	+Section#content-22
		.row.justify-content-center
			.col-11.col-lg-8.col-xl-6.text-center
				h2 Write your story
				p.lead Whether you are a blogger, travelers or seasonal writers, you can create simple and engaging blogs with Slick.

		.row.justify-content-center.justify-content-sm-start.mt-5
			.col-sm-6.col-lg-4
				.card.h-100
					a(href="#").overflow-hidden
						img.card-img-top(src=`${CWD}assets/img/01.jpg` alt='Card image')
					.card-body
						a(href="#").text-1100
							h5.fw-normal.d-inline-block.mb-3 The Big Design Day 2019 Conference
						p.card-text
							| At Tallin, Estonia the big design day 2020 will be celebrated all day long with creatives and makers
						a(href="#").btn.btn-link.ps-0.pb-0 Read more &xrarr;
			
			.col-sm-6.col-lg-4.mt-4.mt-sm-0
				.card.h-100
					a(href="#").overflow-hidden
						img.card-img-top(src=`${CWD}assets/img/02.jpg` alt='Card image')
					.card-body
						a(href="#").text-1100
							h5.fw-normal.d-inline-block.mb-3 New CSS Features That Are Changing Web
						p.card-text
							| From Facebook and Atlassian design resources, we know that the future of design is &hellip;
						a(href="#").btn.btn-link.ps-0.pb-0 Read more &xrarr;
			.col-sm-6.col-lg-4.mt-4.mt-lg-0
				.card.h-100
					a(href="#").overflow-hidden
						img.card-img-top(src=`${CWD}assets/img/03.jpg` alt='Card image cap')
					.card-body
						a(href="#").text-1100
							h5.fw-normal.d-inline-block.mb-3 Estonia makers party
						p.card-text
							| Learn from the top designers and developers who has worked with many big companies. 
						a(href="#").btn.btn-link.ps-0.pb-0 Read more &xrarr;
