mixin Content-21
	+Section.text-center#content-21
		.row.justify-content-center
			.col-lg-8
				h2.font-base Silk and Compact
				p.lead.mt-4 With the integrated Bootstrap 4 and its extended missing part, Slick is effectively turning your dream projects into reality. 
		.row.justify-content-center.mt-7
			.col-md-6.col-lg-5.border-end-md.border-300
				span.fab.fa-dropbox.text-primary.fs-6
				h4.font-base.mt-4.fw-normal Bootstrap 5 Extended
				p.lead.mt-3.px-3 Crafted with Bootstrap 5, Slick is perfectly responsive for every devices, from iPhone to iMac and anything in between.
				a(href=`${CWD}components/typography.html`).btn.btn-outline-primary.btn-sm.mt-4.hvr-sweep-left See components

			.col-md-6.col-lg-5.mt-6.mt-md-0
				span.fa.fa-cogs.text-warning.fs-6
				h4.font-base.mt-4.fw-normal Immensely Powerful
				p.lead.mt-3.px-3 Manage layouts, spaces, gaps, fonts, colors, sizes, borders, painlessly with the pre-installed #{numbers.csshelpers} CSS helper classes.
				a(href=purchase_link target='_blank').btn.btn-outline-warning.btn-sm.mt-4.hvr-sweep-right Purchase Slick
