mixin Content-6
	+Section.bg-100#content-6
		.row.justify-content-center
			.col-lg-10
				h3.mb-4 The easiest customization technique
				
				p It's a pain to change the design of an existing layout using CSS. If you have no prior knowledge of CSS, you'll be doomed. You will end up hiring a developer to customize an HTML template and launch your website. Or scratch your back thinking where to make changes.

				p Slick introduces the easiest customization technique through HTML code. Now you can change the margin or padding by typing m-2 or pb-3 where m defines margin and pb defines the padding bottom. The same goes for other important classes - fw for font weight, fs for font size, px for padding to X axis and so on.
