mixin Content-11
	+Section.bg-1100#content-11
		.row
			.col-lg-8.col-xl-7.offset-lg-1
				p.lead.text-400 Building a website was never such easier than now. With Slick, you can create stunning and beautiful layouts intuitively. Customizing the existing layouts is also hassle-free.
