mixin Content-9
	+Section.py-7.text-center#content-9
		.row.flex-center
			.col-md-8.col-lg-10.col-xl-9
				.mb-4
					span.icon-Pulse.fs-7.text-500
				h4 Truly multiverse. For more swift and comfortable design experience. 
				p Our vision has always been to create a template that is entirely controlled through the HTML code. So that person with or without coding knowledge can create modern websites with ease. One so immersive that you can use any elements in any design.
