mixin Content-12
	+Section#content-12
		.row
			.col-lg-9
				h2.fw-light.text-start Slick, the most futuristic template, combines both design and technology, 
					span.fw-semi-bold renovated
					|  to maximize your projects' aesthetics and user experience.

		.row.mt-6
			.col-lg-4
				p.text-600 Crafted with Bootstrap 5, the grid layout and responsive breakpoints make Slick perfectly responsive for every devices, from iPhone to iMac and anything in between.
			.col-lg-4
				p.text-600 Manage your spaces, gaps, fonts, colors, sizes, borders and everything painlessly with the preinstalled #{numbers.csshelpers} CSS helper classes, no need to write any CSS at all.
			.col-lg-4
				p.text-600 Rigorously tested, we made sure slick works on all popular browsers, and also have backward compatibility even with internet explorer and IE edge.
