mixin Content-26
	+Section.bg-100#content-26
		.row.justify-content-center
			.col-xl-6.col-lg-7
				h2 Your questions answered.
			
				.row.mt-5
					.col-1.me-2
						span.fas.fa-parachute-box.text-1000.fs-3
					.col
						h5 Can I get the support?
						p Yes, you will get six months free support if you purchase Slick. Our outstanding support team is ready to jump in your issues and take care as an in-house job.  
						a(href=purchase_link target='_blank').btn.btn-link.text-900.p-0 learn more &xrarr;
			
				.row.mt-5
					.col-1.me-2
						span.fab.fa-internet-explorer.text-1000.fs-3
					.col
						h5 Does Slick supports Internet Explorer? 
						p Yes. Slick supports the latest, stable releases of all major browsers and platforms. On Windows, it supports Internet Explorer 10-11 / Microsoft Edge.

				.row.mt-5
					.col-1.me-2
						span.fas.fa-code-branch.text-1000.fs-3
					.col
						h5 Which version of Bootstrap was used? 
						p Bootstrap is developing it 4th version. The latest and stable version is beta 2.0 and we used that version to create Slick. 
			
				.row.mt-5
					.col-1.me-2
						span.fa-solid.fa-dollar-sign.text-1000.fs-3
					.col
						h5 Do you have a refund policy? 
						p Yes, we have a 7 days money back guarantee. We comply with Themeforest to execute this policy.
						a(href=purchase_link target='_blank').btn.btn-link.text-900.p-0 learn more &xrarr;
