mixin Content-25
	+Section#content-25
		.row.justify-content-center
			.col-md-6
				h2
					span.fab.fa-twitter.me-3
					| Letest Tweets
			.col-md-6.text-md-end.mt-3.mt-md-0
				a(href='https://twitter.com/themewagon' target='_blank').btn.btn-outline-info.hvr-sweep-left
					span.fab.fa-twitter.me-3(data-fa-transform='grow-10')
					| Follow @themewagon
		.row.mt-5
			.col-lg-6.mb-4
				.border.border-300.rounded-3.p-4.h-100
					.d-flex.mb-3
						img(src=`${CWD}assets/img/portraits/square/01.jpg` alt="profile" width=46).d-flex.me-3.rounded-pill
						.flex-1
							h5.mb-0 Olivia Carter
							a(href="#").text-700 @oliviacarter

					p.mb-0 Slick is not a template, rather it's a tool to design awesome 
						a(href="#").text-twitter #websites
						| . It's a giant leap in web design universe and a next generation template.

			.col-lg-6.mb-4
				.border.border-300.rounded-3.p-4.h-100
					.d-flex.mb-3
						img(src=`${CWD}assets/img/portraits/square/02.jpg` alt="profile" width=46).d-flex.me-3.rounded-pill
						.flex-1
							h5.mb-0 Nate Hanson
							a(href="#").text-700 @natemhanson

					p.mb-0 Drag and drop 
						a(href="#").text-twitter #PageBuilder
						|  of Slick helps me finish my project quickly and in time delivery to my clients. They are also happy with the website I made with 
						a(href="#").text-twitter @Slick
						| .

			.col-lg-6.mb-4
				.border.border-300.rounded-3.p-4.h-100
					.d-flex.mb-3
						img(src=`${CWD}assets/img/portraits/square/03.jpg` alt="profile" width=46).d-flex.me-3.rounded-pill
						.flex-1
							h5.mb-0 Emily Campbell
							a(href="#").text-700 @emilycampbell

					p.mb-0 Absolutely love this template and works really well. The team is very 
						a(href="#").text-twitter #Supportive
						|  and friendly. They listened to my questions and helped with every issue. Many thanks.

			.col-lg-6.mb-4
				.border.border-300.rounded-3.p-4.h-100
					.d-flex.mb-3
						img(src=`${CWD}assets/img/portraits/square/04.jpg` alt="profile" width=46).d-flex.me-3.rounded-pill
						.flex-1
							h5.mb-0 Isabella Taylor
							a(href="#").text-700 @isabellataylor

					p.mb-0 Experienced something awesome while designing website using 
						a(href="#").text-twitter #Slick
						| , I didn't have to know any codes to built my page nor faced any difficulties.
	
