mixin Content-13
	+Section({image: `${CWD}assets/img/35.jpg`, className: "overlay overlay-0"},).text-center#content-13
		.row.justify-content-center
			.col-lg-8.col-xl-6
				h6.text-300.mb-4 Swift user experience
				h1.text-white.fw-light.lh-2 Organic animation 
					br
					| with 3D CSS transitions
				p.text-400.mt-4.px-md-6.px-lg-0 Slick introduces the most advanced organic animation that didn't exist on any other popular templates. You can create apple like organic animation through HTML code. Magically. 
