mixin Content-5
	+Section.text-center#content-5
		.row.justify-content-center
			.col-lg-8
				p.fs-md-2.fw-normal Slick is built as the extended version of the Bootstrap 5. You can call it the missing part of Bootstrap 5. With Slick you can design layouts that match the modern web design trend, which is impossible with the Bootstrap 4. We didn't reinvent the wheel but made it 10x better. 
