mixin Content-20
	+Section.text-center#content-20&attributes(attributes)
		.row.justify-content-center
			.col-md-6.px-lg-4
				h6.mb-3.text-700.lh-sm For Developers
				h4.fs-1.fs-lg-2 Lifelong Update Extraordinary support 
				p For the developers who create websites now and then can be benefited most from the Slick team. You will get extraordinary support and lifelong updates.

			.col-md-6.px-lg-4.mt-5.mt-md-0
				h6.mb-3.text-700 For Individuals
				h4.fs-1.fs-lg-2 Build intuitively Customize with ease
				p With or without coding knowledge, create a website easily using Slick. And customizing a layout is easier than ever; thanks to the mighty Bootstrap framework.
