mixin Content-4
	+Section.bg-1100#content-4
		.row.flex-center
			.col-lg-7.col-xl-8.pe-md-8
				h6.fs-0.mb-4.text-white Story behind Slick
				p.dropcap.text-400 As a design agency, we always thrive for the best output among the other freelance agencies. Stitching the web components one after another to make the design comes into life. At the same time, we were improving the way people customize the HTML template. We knew it was a real pain. 
				p.text-400 So, we brought back the control of editing website template through HTML code. You don't need to edit CSS or Javascript file to make changes. Also no need to know the coding language. Those who don't know HTML can use Slick intuitively. That's how Slick was built.

			.col.mt-lg-0.mt-4
				.border.border-success.rounded-3.px-5.py-6.opacity-75.text-center
					p.fs-2.text-success.mb-0 Ready to build your website with Slick? Try the powerful page builder. It's easy, intuitive and works like magic.
