mixin Testimonials-3
	+Section#testimonials-3
		.row
			.col-12.text-center.mb-5
				h3 What people say about Slick
				p.lead Celebrating over 6 million happy customers and counting. 
					br.d-none.d-lg-block
					| Slick works perfectly for them all.

			.col-lg-6
				.border.rounded-3.p-3.p-md-5.border-300
					.d-flex.align-items-start
						img(src=`${CWD}assets/img/portraits/square/10.jpg` alt="profile" style="width: 65px;").me-3.rounded-3
						.flex-1.ps-2.ps-md-3
							p.lead.mb-4 The support team is really cool. They solved my problem like in-house developer. Thanks for this awesome template.
							h5.fs-0.mb-1 Liam Neeson
							p.fs--1.mb-0 CEO, Blue Web Design

			.col-lg-6.mt-4.mt-lg-0
				.border.rounded-3.p-3.p-md-5.border-300
					.d-flex.align-items-start
						img(src=`${CWD}assets/img/portraits/square/11.jpg` alt="profile" style="width: 65px;").me-3.rounded-3
						.flex-1.ps-2.ps-md-3
							p.lead.mb-4 First, I thought what I can do in web design beside building with WordPress. But Slick crossed my all expectation. Thank you. 
							h5.fs-0.mb-1 Jesse Kirk
							p.fs--1.mb-0 Independent freelancer
			
			.col-lg-6.mt-4
				.border.rounded-3.p-3.p-md-5.border-300
					.d-flex.align-items-start
						img(src=`${CWD}assets/img/portraits/square/15.jpg` alt="profile" style="width: 65px;").me-3.rounded-3
						.flex-1.ps-2.ps-md-3
							p.lead.mb-4 I like how easy it is to use a layout and making changes. All you need is your common sense to edit any element. Recommended template.
							h5.fs-0.mb-1 Pierce Brosnan
							p.fs--1.mb-0 Upwork Contractor

			.col-lg-6.mt-4
				.border.rounded-3.p-3.p-md-5.border-300
					.d-flex.align-items-start
						img(src=`${CWD}assets/img/portraits/square/12.jpg` alt="profile" style="width: 65px;").me-3.rounded-3
						.flex-1.ps-2.ps-md-3
							p.lead.mb-4 From now on, we are going to use this template for all of our future front end projects. We can develop various websites using Slick.
							h5.fs-0.mb-1 Nathan Paul
							p.fs--1.mb-0 Project Manager, Webgeekz
