mixin NavbarDocs
  ul#components-nav.components-nav.list-unstyled
    each value, index in sitemap[1].pages
      li
        a(href=`${CWD}${value.path}.html` class=pathName === value.path ? 'text-primary fw-bold' : 'link-700').font-sans-serif.text-capitalize
          =value.name