extends ../layouts/LayoutTheme
include ../mixins/blocks/navigation/Navigation-4
include ../mixins/blocks/features/Features-19
include ../mixins/blocks/features/Features-20
include ../mixins/blocks/content/Content-16
include ../mixins/blocks/header/Header-14
include ../mixins/blocks/footer/Footer-5

append variables
	- var navigation = false;
	- var Footer = false;

append styles

append scripts
	script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

append mainContent

	+Features-19
	+Navigation-4('dark').navbar-light.bg-white.sticky-top.shadow-sm
	+Features-20
	+Content-16
	+Header-14
	+Footer-5

