mixin Team-3
	+Section.text-center#team-3
		.row.justify-content-center
			.col-lg-10.col-xl-8
				h2.mb-3 Slick's Members
				p.lead Slick is empowered by the real people. A dedicated team that truly wants to change the way you create websites now and will do in future.

		.row.justify-content-center.mt-5
			.col-11.border.border-200.bg-100.rounded-3
				.row
					.col-sm-6.col-md-4.py-5
						img(src=`${CWD}assets/img/portraits/crew/14.jpg` alt="Member" width=120).rounded-circle
						h4.mt-3.mb-2 Jessica Alba
						h6.text-500 UX Designer

					.col-sm-6.col-md-4.py-5
						img(src=`${CWD}assets/img/portraits/crew/15.jpg` alt="Member" width=120).rounded-circle
						h4.mt-3.mb-2 Al Pacino
						h6.text-500 UI Designer

					.col-sm-6.col-md-4.py-5
						img(src=`${CWD}assets/img/portraits/crew/16.jpg` alt="Member" width=120).rounded-circle
						h4.mt-3.mb-2 Emma Watson
						h6.text-500 Happiness Manager

		.row
			.col-12
				a(href="#").btn.btn-danger.rounded-pill.mt-6.hvr-sweep-left Hire our Crew 
					span.fas.fa-angle-right.ms-2
