mixin Grid(col)
  - var colCount = 12/col
  +PreviewBlock 
    .row.g-0
      pre.mt-5
        code.lang-html.
          #{`<div class="col-${col}"></div>`}
      while 0 < colCount
        div(class=`col-${col}`)
          .py-5.border-dashed.text-400.bg-100.text-center= `col -${col}`
            - colCount--

mixin ResponsiveGrid 
  h4.mt-4 Responsive grid

  .row.g-0.grid-component
    .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
    .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
    .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
    .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
  .row.g-0.grid-component
    .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
    .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
    .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
    .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3



