mixin Fa(icon)
  .col-lg-3.col-md-4.col-sm-6
    .border.rounded.p-3.mb-4.text-center
      span.text-900.fs-3(class=icon)
      input.form-control.form-control-sm.mt-3.text-center.text-dark.bg-200(type='text' value=icon)