mixin Parallax
	code .parallax 
		| and 
		code data-rellax-speed
		| &nbsp; to make a parallax object

	pre.mt-4
		code.lang-html.
			#{'<h1 data-rellax-speed="-20" class="parallax">Parallax</h1>'}

	p.mt-3
		code data-rellax-speed
		|  can be positve or negative 
		code number
		| .

	h5.mt-5 JavaScript
	pre
		code.lang-html.
			#{'<script src="assets/lib/rellax/rellax.min.js"></script>'}