mixin Features-18
	+Section.py-sm-0#features-18
		.py-11.overflow-hidden.position-relative.text-center
			+Background({image: `${CWD}assets/img/56.jpg`, className: "overlay rounded-3 z-index--1"})
			a(data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').cursor-pointer
				img(src=`${CWD}assets/img/icons/icon-play.svg` alt="play" width="100")
