mixin Features-6
	+Section.bg-100#features-6
		.row.justify-content-center.text-center
			.col-md-8.col-lg-6
				h2
					span.fw-light Now it's Time to Explore the 
					br.d-none.d-sm-block
					span.text-1000.fw-semi-bold Horizon of UI Design
		.row.flex-center.mt-3.mt-xl-6
			.col-xl-4.text-xl-end.text-center.px-xl-5.pe-xl-6.order-2.order-xl-0.mt-6.mt-xl-0
				p.text-1100.fs-2.px-lg-9.px-xl-0 Based on Bootstrap 5. Update every single 
					br.d-none.d-xl-block
					| element in all new 
					br.d-none.d-xl-block
					| Slick, individually 
					br.d-none.d-xl-block
					| and Flawlessly. 	
				a(href=purchase_link target='_blank').btn.btn-dark.btn-icon-pop.rounded-pill.px-4.mt-3.mt-xl-4
					span.fab.fa-apple.me-2
					| Get Slick

			.col-7.col-md-5.col-xl-4.mt-5.mt-xl-0
				img(src=`${CWD}assets/img/iphone-x.png` alt="featured-image" data-inertia!={ weight: .5 }).img-fluid

			.col-md-6.col-xl-4.mt-5.mt-md-0.text-center.text-md-start.ps-lg-7.ps-md-5
				h6.fs-0.text-danger.lh-2 CSS helper classes
				p.mt-3 Easily change and tweak your gaps, spaces, borders, fonts, sizes, colors, weights and almost everything with #{numbers.csshelpers} featured inside the Slick.
				
				h6.fs-0.text-danger.mt-5.lh-2 Save your bucks
				p.mt-3 Buy the developer license once and Slick is yours forever. Don't waste money on generic templates. Do multiple projects for you.
				
				h6.fs-0.text-danger.mt-5.lh-2 Copy + Paste / Drag + Drop
				p.mt-3 Edit and design in a seamless manner. Copy and paste or drag and drop any sections, anywhere.
