mixin Features-14
  +Section#features-14
    .row.justify-content-sm-center
      .col-lg-7.col-md-10.text-center
        h2 Inside the core
        p.lead.px-0.px-lg-4 To help designers explore how to uplift the way they create, Slick introduces a new horizon with the latest technology.

    .row.justify-content-sm-center.mt-5
      .col-lg-5.col-md-10
        .d-flex
          i.icon-Eyeglasses-Smiley.text-success.fs-4.d-flex.me-3
          .flex-1
            h6.lh-sm Crafted with Bootstrap 5
            p Take control over your projects with all new features of Bootstrap 4 framework. Say hello to the future of design.
      .col-lg-5.col-md-10.mt-4.mt-lg-0
        .d-flex
          i.icon-Cursor-Click2.text-primary.fs-4.d-flex.me-3
          .flex-1
            h6.lh-sm  Control design through HTML
              span.badge.bg-primary.rounded-pill.fs--1.ms-2 New
            p Without writing a line of CSS, you can design layouts and make changes through HTML code. It's the magic wand of Slick.
      .col-lg-5.col-md-10.mt-4
        .d-flex
          i.icon-Fan.text-warning.fs-4.d-flex.me-3
          .flex-1
            h6.lh-sm  Reusable components
            p With #{numbers.layouts} unique layouts, #{numbers.pages} prebuilt demo pages and #{numbers.components} component sets, Slick empowers you to create beautiful, engaging websites effortlessly.
      .col-lg-5.col-md-10.mt-4
        .d-flex
          i.icon-Bicycle.text-danger.fs-4.d-flex.me-3
          .flex-1
            h6.lh-sm  Personalized support
            p Each day we help people stuck with a diverse range of issues while making sites. We treat them like our in-house project &amp; provide personalized support.
