mixin Features-22
	section.py-0#features-22
		.position-absolute.d-none.d-lg-flex.align-items-center.h-100.end-0(style="width: 45%;")
			img(src=`${CWD}assets/img/rotated-style.png` alt='').img-fluid
		.container
			.row.min-vh-100.align-items-center.py-6
				.col-lg-7
					h1.fs-5.fs-md-6.mb-4.fw-light Step into the
						br.d-none.d-sm-block
						span.fw-bold future
						|  of web design
					p.lead Slick is the new way of creating websites that empowers you to reuse the modular, structured block of codes; make beautiful web pages that you imagined. 

					.row.mt-7
						.col-sm-5
							img(src=`${CWD}assets/img/icons/art_palette.svg` alt='art_palette' height=90)
							h5.mt-3 Even more flexible
							p.mb-0 Manage font, weight, color, and everything with readymade CSS helpers.
						.col-sm-5.mt-4.mt-sm-0.offset-sm-1
							img(src=`${CWD}assets/img/icons/graphic_design.svg` alt='graphic_design' height=90)
							h5.mt-3 Based on Bootstrap 5
							p.mb-0 Take control over your projects with all new features of Bootstrap 5. 
