mixin Features-19
  +Section({image: `${CWD}assets/img/66.jpg`, className: "overlay overlay-0"},).py-sm-0.text-center#features-19
    .row.align-items-center.min-vh-100
      .col
        a( data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').cursor-pointer.mx-6
          img.mb-6(src=`${CWD}assets/img/icons/icon-play.svg` alt="play" width=60)
        br
        span.fs-3.fs-sm-2.fs-md-3.text-white.font-base.my-0 Slick Framework -
          span.fw-bold  Create with Ease
