mixin Features-16
	+Section.bg-100#features-16
		.row.justify-content-center.mx-0
			.col-lg-10.text-center
				h3.mb-4.lh-2.px-md-8.px-xl-10 Use Slick's diverse layouts to create
					|  
					strong beautiful experiences.
				a(href=generator_link target='_blank').fw-semi-bold.d-block.mt-4 Get Started Free
					img(src=`${CWD}assets/img/icons/icon-angle-right.svg` height=13 alt='').ms-1

			.col.col-lg-7.text-center.py-7.py-md-8.py-lg-9.mx-3.mt-5.position-relative
				+Background({image: `${CWD}assets/img/05.jpg`, className: "rounded-3"})
				a(data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').cursor-pointer.position-relative
					img(src=`${CWD}assets/img/icons/icon-play.svg` alt="play" width=90)