mixin Features-8
	+Section#features-8
		.row.justify-content-center
			.col-lg-7.text-center
				h2 Creators thrive here
				p.lead.mt-3.mb-4 From professional to newbie, web designers use Slick to make a lasting design that impacts on clients, customers and the visitors.
				a(href=purchase_link target='_blank').btn.btn-sm.btn-outline-primary.mt-3.hvr-sweep-left Make the biggest impact
				img.mt-6.img-fluid(src=`${CWD}assets/img/hang_out.svg` alt="featured-image")
