mixin Features-4
	+Section#features-4
		.row.align-items-center
			.col.order-md-2
				h2.mb-3 Anchored in design
				p.lead Slick is the perfect tool for instant and convenient web page designing. It can be used to design your every project because it contains up-to-date and modern web technology. 

				a(href=purchase_link target='_blank').fw-semi-bold.d-block.mt-4 Learn more about Slick
					img(src=`${CWD}assets/img/icons/icon-angle-right.svg` height=13 alt='').ms-1

				.row.pt-7
					.col-sm.col-md-12.col-lg
						h6.text-900.fs-0 Modular code blocks
						p.mt-3.me-lg-5.mb-0 Explore endless possibilities with the simple blocks of code in Slick. Use any blocks anywhere.
					
					.col-sm.col-md-12.col-lg.mt-5.mt-sm-0.mt-md-5.mt-lg-0
						h6.text-900.fs-0 Unparalleled UX
						p.mt-3.me-lg-5.mb-0 Building and customization are effortless with Slick, from the beginning to the very end.

			.col-md-6.px-6.px-md-4.pt-6.pt-md-0.text-center
				img(src=`${CWD}assets/img/watch-2.jpg` alt="features-image")
