mixin Features-10
	+Section.text-center#features-10
		.row.justify-content-center
			.col-lg-9.col-xl-8
				h2.mb-3 Unparalleled design experience
				p.lead.text-500 Slick makes it easy and timeless; just copy and paste a section you like, change the text and images the way you want them to be &amp; that's all!
				a(href=generator_link target='_blank').btn.btn-outline-danger.rounded-pill.btn-sm.my-4.hvr-sweep-left Start Creating


		.row.justify-content-center.mt-4
			.col-xl-11
				.row
					.col-md-6.col-lg-4.mb-lg-0.mb-4
						.border.rounded-3.border-200.border-2.px-4.py-5.h-100
							span.icon-Target.fs-5
							h5.text-900.pt-4.mb-3 Highly Customizable
							p Making changes is smarter &amp; easier than ever. Pre-installed CSS helpers &amp; plugins give you the full control on the project.

					.col-md-6.col-lg-4.mb-lg-0.mb-4
						.border.rounded-3.border-200.border-2x.px-4.py-5.h-100
							span.icon-Thumbs-UpSmiley.fs-5
							h5.text-900.pt-4.mb-3 Assorted Icons
							p Slick included highly divergent set of icons, convenient for infinite purposes. Choose any from 
								br.d-none.d-xl-block
								|2089 Iconsmind icons.

					.col-md-6.col-lg-4.mb-lg-0.mb-4
						.border.rounded-3.border-200.border-2x.px-4.py-5.h-100
							span.icon-Three-FingersDrag.fs-5
							h5.text-900.pt-4.mb-3 Page Builder
							p Design beautifully in browser with the deploy-ready pages using Zion page builder. The all new way of making web pages. 
