mixin Features-9
	+Section({image: `${CWD}assets/img/54.jpg`, className: "overlay overlay-0"},).text-white.py-9#features-9
		.row.justify-content-lg-between
			.col-lg-6
				img.img-fluid(src=`${CWD}assets/img/ipad-pro-01.png` alt="featured-image" )

			.col-10.col-lg-5.mt-6.mt-lg-0
				.row
					.col-12
						h1.fw-light.text-light What’s inside
						p.lead.text-500.mt-3 At Slick's core, its all about giving you
							br.d-none.d-lg-block
							| the power you need that reduces
							br.d-none.d-lg-block
							| gap between you &amp; the world's
							br.d-none.d-lg-block
							| most talented web designers.

					.col-11.pe-lg-7.mt-4
						.mt-5
							span.icon-File-Copy2.me-3.fs-2.fs-5
							h4.mt-4.text-300 Reusable components
							p.text-500 Till date, you can use any layouts in multiple pages with the popular templates. With Slick, you can reuse any components anywhere.
						.mt-5
							span.icon-Thunderstorm.e-3.fs-2.fs-5
							h4.mt-4.text-300 Control through HTML
							p.text-500 Without writing a line of CSS, and JavaScript you can design any functional layouts. It's the magic wand of Slick. 
