mixin Features-13
	+Section#features-13
		.row.align-items-center
			.col-lg.pe-lg-9
				h2.mb-3 Why Slick?
				p.lead Design beautiful websites with the easy and simple blocks of codes or even with and the drag drop page builder instantly.

			.col-auto
				a(href=purchase_link target='_blank').btn.btn-primary.mt-4.mt-lg-0 Purchase Slick Now
			.col-12
				hr.text-300.my-6
		.row
			.col-sm-6.col-lg-3
				h5.mb-3 Design sites instantly
				p  Design a beautiful site up and running in less than an hour. Use Slick's drag and drop page builder and generate codes instantly.
			.col-sm-6.col-lg-3.mt-4.mt-sm-0
				h5.mb-3 Reusable blocks of codes
				p  Explore endless possibilities with the simple blocks of code in Slick. Use any blocks anywhere in your site &amp; create awesome design.
			.col-sm-6.col-lg-3.mt-4.mt-lg-0
				h5.mb-3 Responsive in every devices
				p  The newly released Bootstrap 4 makes Slick fully responsive. Perfectly fittable in every device of any screen sizes.
			.col-sm-6.col-lg-3.mt-4.mt-lg-0
				h5.mb-3 Unparalleled experience
				p  Building and customization are easy in Slick, the design experience is unparalleled from beginning to the end.
