mixin Features-12
	+Section({image: `${CWD}assets/img/13.jpg`, className: "overlay overlay-0"},)#features-12
		.row
			.col-11
				h1.fw-light.mb-3.text-100.lh-2 Designed to blend 
					br.d-none.d-sm-block
					| with 
					span.fw-semi-bold  your content 

		.row.mt-6
			.col-lg-8.pe-7
				.row
					.col-md-6.pe-md-6.mb-6
						.slick-line(data-zanim-xs!={from: { width: 0 }, to: { width: '100%' }, duration: 1, delay: 0.2} style="background: linear-gradient(to right, #ea4774 0%, #7f4ba9 100%);" data-zanim-trigger='scroll')
						h3.mt-4.mb-3.text-200 Rhythmic typography
						p.lead.text-500 Manage your fonts, color, sizes, and weight with readymade helpers.
					
					.col-md-6.pe-md-6.mb-lg-0.mb-6
						.slick-line(data-zanim-xs!={from: { width: 0 }, to: { width: '100%' }, duration: 1, delay: 0.4} style="background: linear-gradient(to right, #544ebe 0%, #105ce0 100%);" data-zanim-trigger='scroll')
						h3.mt-4.mb-3.text-200 A+ support 
							br
							| whenever needed
						p.lead.text-500 Our supportive team consists of real people ensuring the satisfaction.

					.col-md-6.pe-md-6.mb-lg-0.mb-4.mb-6
						.slick-line(data-zanim-xs!={from: { width: 0 }, to: { width: '100%' }, duration: 1, delay: 0.8} style="background: linear-gradient(to right, #006bed 0%, #00b8f8 100%);" data-zanim-trigger='scroll')
						h3.mt-4.mb-3.text-200 Clean Code
						p.lead.text-500 Simple blocks of code that are easy to understand.

					.col-md-6.pe-md-6.mb-lg-0.mb-6
						.slick-line(data-zanim-xs!={from: { width: 0 }, to: { width: '100%' }, duration: 1, delay: 1.2} style="background: linear-gradient(to right, #00b8f8 0%, #4CD964 100%);" data-zanim-trigger='scroll')
						h3.mt-4.mb-3.text-200 Documentation
						p.lead.text-500 Comments in code and detailed element pages.
			
			.col-lg-4
				.border.border-success.rounded-3.p-5.opacity-75
					p.lead.text-success.mb-0(style="opacity:.8") Slick's mission is to help doers and makers to bring their projects to life faster. We measure our success as a team by how well we achieve that mission, not by the number of sells we make each quarter.
