mixin Features-11
	+Section.text-center#features-11
		.row.justify-content-lg-center
			.col-xl-11
				.row.justify-content-center.justify-content-sm-start
					.col-10.col-sm-6.col-lg-4.mb-7.mb-lg-0
						span.icon-Sidebar-Window.text-700.fs-5.mb-4
						h4.px-xl-5 #{numbers.components} Sets of 
							br.d-none.d-sm-block
							| Styled Component
						p.mb-0.px-sm-3  From Bootstrap component to most of the popular plugins, redesigned to ameliorate the styles.

					.col-10.col-sm-6.col-lg-4.mb-7.mb-lg-0
						span.icon-Livejournal.text-700.fs-5.mb-4
						h4.px-xl-5 #{numbers.csshelpers} CSS 
							br.d-none.d-sm-block
							| Helpers Classes
						p.mb-0.px-sm-3 Change colors, font size, margins and everything simply by changing CSS classes only.

					.col-10.col-sm-6.col-lg-4.mb-7.mb-sm-0
						span.icon-Laptop-Phone.text-700.fs-5.mb-4
						h4.px-xl-5  Tested on 
							br.d-none.d-sm-block
							| Every Devices
						p.mb-0.px-sm-3 From iPhone to iMac and anything in between, Slick fits perfectly in any screen size. 
