mixin Features-20
	+Section#features-20
		.row.align-items-center
			.col-lg-4
				h4.fw-bold Excellent quality
				p.lead Slick is built at ease-to-use at its core. It's crafted from the Bootstrap framework which made the customization very easy and intuitive. You can make attracting websites faster than any other templates available on ThemeForest or any market.
				a(href=purchase_link target='_blank').btn.btn-link.ps-0 Purchase now &xrarr;
			
			.col-lg-4.col-sm-7.pe-md-4.ps-lg-4.mt-4.mt-lg-0
				img(src=`${CWD}assets/img/39.jpg` alt='').img-fluid.rounded-2.shadow-lg
			
			.col-lg-3.col-sm-4.mt-3.mt-sm-0
				hr.short.ms-0.bg-1100.d-none.d-sm-block.me-auto.my-3
				p Each purchase of Slick includes six months of free support, including access to our dedicated support forum.
