mixin Navigation-9(brand, isNavbarONScroll)
	nav.navbar.navbar-expand-lg.py-2&attributes(attributes)(data-navbar-dark-on-scroll!=isNavbarONScroll)
		.container
			if brand
				a.navbar-brand(href=`${CWD}index.html`) 
					!=brand
			button.navbar-toggler.hamburger.hamburger--emphatic(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
				span.hamburger-box
					span.hamburger-inner
			.collapse.navbar-collapse#navbarNav
				ul.navbar-nav.flex-center.ms-auto
					li.nav-item
						a.nav-link(aria-current='page' href='#!') Home
					li.nav-item
						a.nav-link(href='#!') Feature
					li.nav-item
						a.nav-link(href='#!') Blog
					li.nav-item
						a.nav-link(href='#!') API
					li.nav-item
						a.nav-link(href='#!') Help
					li.nav-item
						a.nav-link.btn-custom.mx-3.order-1.order-lg-0.w-100(type='button') Sign In
					li.nav-item.w-100
						button.btn.btn-sm.btn-outline-danger.border-2.w-100(type='submit') Sign Up