mixin Forms-10
	+Section.bg-1100#forms-10
		.row.justify-content-center
			.col-xl-8.col-lg-10
				p.fs-2.text-300.text-center Subscribe to our newsletter to get 15% off!

				form.d-flex.justify-content-center
					input.form-control.me-2.w-50(type='email' placeholder='Your Email' aria-label='Email')
					input.btn.btn-danger(type="submit" name="submit" value="Subscribe")
