mixin Forms-8
	+Section({image:`${CWD}assets/img/63.jpg`, className:"overlay overlay-0"}).text-center#forms-8&attributes(attributes)
		.row.justify-content-center
			.col
				h1.font-base.fw-semi-bold.text-white.fs-2.fs-sm-4.fs-md-5 Good things never end!
				h3.mb-0.text-white $25 Slick coupon on your first purchase

				img(src=`${CWD}assets/img/coupon.png` alt="coupon" style='height: 150px;').my-6
			.col-12
				a(href="#").btn.rounded-pill.btn-lg.btn-light Start shopping
