mixin Forms-11
	+Section.text-center#forms-11
		.row.justify-content-center
			.col-lg-8
				h2 Don't Miss
					br.d-sm-none
					|  the Slick News
				p.mt-2 Get updated with the latest news by signing Slick newsletter
				form(data-form)
					.row.justify-content-center.mt-5
						.col-md-8.col-xl-7
							.input-group
								input.form-control(type='email' placeholder='Your Email' aria-label='Email')
								button.btn.btn-danger(type="button") Take me in
					.feedback
