mixin Forms-5
	section.py-0#forms-5
		+Background({image: `${CWD}assets/img/28.jpg`, className: " overlay-0 d-none d-md-block w-75 bg-right"})
		.container.pe-md-11
			.row.min-vh-100.bg-white
				.col-lg-8.ms-lg-6
					.row.align-items-center.min-vh-100.py-6
						.col-md-10
							h1.mb-3.fs-4.fs-md-5 Signup to get the latest update of Slick features
							p Create a free Slick account to send beautiful emails to customers, contributors, and fans. Already have a Slick account?  
								a(href="#") 
									u Log in here
						
							form.row.g-3.mt-5(data-form)
								.col-12
									label.form-label.ls.text-uppercase.text-700.fw-bold.mb-0 Your Name
									input.form-control.bg-white(type="text" placeholder="")
								.col-12
									label.form-label.ls.text-uppercase.text-700.fw-bold.mb-0 Your Email
									input.form-control.bg-white(type="email" placeholder="")
								.col-12
									label.form-label.ls.text-uppercase.text-700.fw-bold.mb-0 Type Password
									input.form-control.bg-white(type="password" placeholder="")
								.col-12
									.row.mt-3
										.col-6.d-grid
											input.btn.btn-primary(type="submit" name="submit" value="Sign up")
										.col-6
											p.fs--1.fw-light.text-900.mb-0 By singing up here, you agree to Slick's 
												br.d-none.d-xl-block
												a(href="#") Anti-spam Policy &amp; Terms of Service.
								.feedback

							
